<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="/main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='/static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

<section role="explore">
  <div class="container no-border">

    <h1>${_("Find your course")}</h1>

    <div class="grid">
      <div class="item">
        %for course in courses:
          <%include file="../course.html" args="course=course" />
        %endfor
      </div>
    </div>

  </div>
</section>

<main id="main" aria-label="Content" tabindex="-1" class="hidden">
    <section class="find-courses">
      <section class="courses-container">
        
        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
          <ul class="journal-list">
            % for bundle in journal_info.get('journal_bundles'):
            <li class="courses-listing-item">
              <%include file="../journals/bundle_card.html" args="bundle=bundle" />
            </li>
            % endfor
          </ul>
          <ul class="journal-list">
            %for journal in journal_info.get('journals'):
            <li class="courses-listing-item">
              <%include file="../journals/journal_card.html" args="journal=journal" />
            </li>
            %endfor
          </ul>
          <ul class="courses-listing courses-list">
            %for course in courses:
            <li class="courses-listing-item">
              <%include file="../course.html" args="course=course" />
            </li>
            %endfor
          </ul>
        </div>

		% if course_discovery_enabled:
        <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
          <section class="search-facets-lists">
          </section>
        </aside>
        % endif
      </section>
    </section>
</main>
