## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>
<%
theme = configuration_helpers.get_value('theme', '')
%>

<%!
import pytz
from datetime import datetime, timedelta
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from django.template import RequestContext
from entitlements.models import CourseEntitlement
from third_party_auth import pipeline
from util.date_utils import strftime_localized
from opaque_keys.edx.keys import CourseKey
from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text

from student.models import CourseEnrollment
%>


<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

% if uses_bootstrap: 
  % if theme:
  <div class="container-fluid wrapper-footer ${theme}-footer">
  % else: 
  <div class="container-fluid wrapper-footer">
  % endif
    <footer>
      <div class="row">

          <nav class="navbar legal-nav navbar-expand-sm" aria-label="${_('Legal')}">
            <ul class="navbar-nav">
              % for item_num, link in enumerate(footer['legal_links'], start=1):
                <li class="nav-item">
                  <a class="nav-link" href="${link['url']}">${link['title']}&nbsp;</a>
                </li>
              % endfor
         
            </ul>
          </nav>
        </div>
         <div class="row">
       
          ## Please leave this link and use one of the logos provided
          ## The OpenEdX link may be hidden when this view is served
          ## through an API to partner sites (such as marketing sites or blogs),
          ## which are not technically powered by Open edX.
          % if not hide_openedx_link:
            <div class="footer-about-openedx">

               <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>
            
               <p> <a href="https://open.edx.org">
              <img src="/static/pearson-pols-theme/images/openedx.svg" alt="Powered by Open edX" width="150">
            </a></p>
            </div>
          % endif
        </div>
      </div>
    </footer>
  </div>
% else:
  % if theme:
  <div class="wrapper wrapper-footer ${theme}-footer">
  % else: 
  <div class="wrapper wrapper-footer">
  % endif
    <footer id="footer-openedx" class="grid-container"
      ## When rendering the footer through the branding API,
      ## the direction may not be set on the parent element,
      ## so we set it here.
      % if bidi:
        dir=${bidi}
      % endif
    >
     <div class="colophon">
       

        % if context.get('include_language_selector', footer_language_selector_is_enabled()):
            <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
        % endif

        <div class="wrapper-logo">
          <p>
          </p>
        </div>

       

        <nav class="nav-legal" aria-label="${_('Legal')}">
          <ul>
            % for item_num, link in enumerate(footer['legal_links'], start=1):
              % if not link['title'] == 'Honor Code':
              <li class="nav-legal-0${item_num}">
                <a href="${link['url']}">${link['title']}</a>
              </li>
              % endif
            % endfor
          </ul>
        </nav>
      </div>

      ## Please leave this link and use one of the logos provided
      ## The OpenEdX link may be hidden when this view is served
      ## through an API to partner sites (such as marketing sites or blogs),
      ## which are not technically powered by OpenEdX.
      % if not hide_openedx_link:
      <div class="footer-about-openedx">
         ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        
  

              <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>
            
                <a href="https://open.edx.org">
              <img src="/static/pearson-pols-theme/images/openedx.svg" alt="Powered by Open edX" width="150">
            </a>
        
        
      </div>
      % endif
    </footer>
  </div>
% endif
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
