## mako

<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from microsite_configuration import microsite
platform_name = microsite.get_value('PLATFORM_NAME', '')
%>

<%block name="title"><title>${_("Privacy Policy")}</title></%block>

<section role="legal">
  <div class="container no-border">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <button type="button" class="btn btn-default pull-right print">${_("Print Privacy Policy")}</button>
        <h2>${_("Privacy Notice - Government Communication Service International elearning (Campaigning Excellence)")}</h2>
        <p>${_("This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the General Data Protection Regulation (GDPR). Further information on these can be found ")}<a href="https://eur-lex.europa.eu/legal-content/en/TXT/?uri=CELEX%3A32010D0087">${_("here")}</a>.</p>

        <h3>${_("YOUR DATA")}</h3>

        <p><em>${_("Purpose")}</em></p>
        <p>${_("The purposes for which we are processing your personal data are:")}</p>
        <p>
            <ul>
                <li>${_("To allow for registration and participation in")} <em>${_("Government Communication Service International's e-learning platform")}</em></li>
                <li>${_("To allow interaction between participants and with course leaders, including through text-based conversation and live video sessions")}</li>
                <li>${_("To verify effectiveness of learning materials through analytics and assessment")}</li>
            </ul>
        </p>

        <p><em>${_("The data")}</em></p>
        <p>${_("We will process the following personal data:")}</p>
        <p>${_("For users:")}</p>
         <p>
            <ul>
                <li>${_("Name")}</li>
                <li>${_("Email addresses")}</li>
                <li>${_("Learner's usage history and interactions with the platform")}</li>
                <li>${_("Biographical profile information voluntarily provided")}</em></li>
                <li>${_("Profile photographs if voluntarily provided")}</em></li>
                <li>${_("Video sessions if voluntarily used")}</em></li>
            </ul>
        </p>

        <p><em>${_("Legal basis of processing")}</em></p>
        <p>${_("The legal basis for processing your personal data is:")}</p>
        <p>${_("In relation to photographs, video or biographical information volunteered:")}</p>
        <p>${_("- Because you consent to us doing so.")}</p>
        <p>${_("In relation to all other data:")}</p>
        <p>${_("- Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in the data controller. In this case that is GCS International's task to work to provide support to governments and institutions internationally.")}</p>
        <p>${_("Sensitive personal data is personal data revealing racial or ethnic origin, political opinions, religious or philosophical beliefs, or trade union membership, and the processing of genetic data, biometric data for the purpose of uniquely identifying a natural person, data concerning health or data concerning a natural person's sex life or sexual orientation. We do not require sensitive personal data, but the legal basis for processing any sensitive personal data you voluntarily provide is:")}</p>
        <p>${_("- Because you consent to us doing so.")}</p>

        <p><em>${_("Recipients")}</em></p>
        <p>${_("Your personal data will be shared by us with our e-learning platform provider and web hosting company.")}</p>

        <p><em>${_("Retention")}</em></p>
        <p>${_("Data will be held for a year following completion of the course. Completion of the course in this case refers to the receipt of a final mark of achievement.")}</p>
        <p>${_("After this period of retention, participants will be contacted to verify that they would like to continue having access to the course materials and being contacted by GCSI, as alumni members of the course.")} </p>

        <h3>${_("YOUR RIGHTS")}</h3>

        <p><strong>${_("In relation to all information:")}</strong></p>
        <p>${_("You have the right to request information about how your personal data are processed, and to request a copy of that personal data.")}</p>
        <p>${_("You have the right to request that any inaccuracies in your personal data are rectified without delay.")}</p>
        <p>${_("You have the right to request that any incomplete personal data are completed, including by means of a supplementary statement.")}</p>
        <p>${_("You have the right to request that your personal data are erased if there is no longer a justification for them to be processed.")}</p>
        <p>${_("You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted.")}</p>
        <p>${_("You have the right to object to the processing of your personal data where it is processed for direct marketing purposes.")}
        <p><strong>${_("In relation to information other than images, videos or biographical information voluntarily provided:")}</strong></p>
        <p>${_("You have the right to object to the processing of your personal data.")}</p>
        <p><strong>${_("In relation to images, videos or biographical information voluntarily provided:")}</strong></p>
        <p>${_("You have the right to withdraw consent to the processing of your personal data at any time.")}</p>
        <p>${_("You have the right to request a copy of any personal data you have provided, and for this to be provided in a structured, commonly used and machine-readable format.")}</p>

        <h3>${_("INTERNATIONAL TRANSFERS")}</h3>
        <p>${_("Your data may be transferred outside the European Union to provide access for you to the learning materials, or to provide user IT support. Where that is the case it will receive equivalent legal protection through reliance on Model Contract Clauses.")}</p>

        <h3>${_("COMPLAINTS")}</h3>
        <p>${_("If you consider that your personal data has been misused or mishandled, you may make a complaint to the UK Information Commissioner, who is an independent regulator.  The Information Commissioner can be contacted at:  Information Commissioner's Office, Wycliffe House, Water Lane, Wilmslow, Cheshire, SK9 5AF, or 0303 123 1113, or casework@ico.org.uk.  Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.")}</p>

        <h3>${_("CONTACT DETAILS")}</h3>
        <p>${_("The data controller for your personal data is the UK Government Cabinet Office. Government Communications Service International is part of the Cabinet Office.")}</p>
        <p>${_("The contact details for the data controller are: Cabinet Office, 70 Whitehall, London, SW1A 2AS, or 0207 276 1234, or publiccorrespondence@cabinetoffice.gov.uk.")}</p>
        <p>${_("The contact details for the data controller's Data Protection Officer are: Stephen Jones, Data Protection Officer, Cabinet Office, 70 Whitehall, London, SW1A 2AS, or dpo@cabinetoffice.gov.uk.")}</p>
        <p>${_("The Data Protection Officer provides independent advice and monitoring of Cabinet Office's use of personal information.")}</p>

        <h3>${_("SITE PRIVACY POLICY")}</h3>
        <p>${_("This Policy only applies to information that we collect through the gcs.proversity.org Website (the 'Site,' which consists of all content and pages located within the gcs.proversity.org (domain) and does not apply to information that we may collect from you in other ways (for example, this policy does not apply to information that you may provide to us over the phone, by fax or through conventional mail).")}</p>

        <h3>${_("Usernames And Postings")}</h3>
        <p>${_("Comments or other information posted by you to our forums, wikis or other areas of the Site designed for public communications or communications among registered class members may be viewed and downloaded by others who visit the Site.")}</p>
        <p><strong>${_("For this reason, we encourage you to use discretion when deciding whether to post any information that can be used to identify you to those forums (or other public or classwide areas).")}</strong></p>

        <h3>${_("How We Use Analytic Information We Collect ")}</h3>
        <p>${_("We collect information, including Personal Information (described above), when you sign up for a user account, participate in online courses, send us email messages and/or participate in our public forums. We also collect certain usage information about student performance and patterns of learning. In addition, we track information indicating, among other things, which pages of our Site were visited, the order in which they were visited, when they were visited and which hyperlinks and other user interface controls were used.")}</p>
        <p>${_("We may log the IP address, operating system and browser software used by each user of the Site, and we may be able to determine from an IP address a user's Internet Service Provider and the geographic location of his or her point of connectivity. Various web analytics tools are used to collect this information. Some of the information is collected through cookies (small text files placed on your computer that store information about you, which can be accessed by the Site). You should be able to control how and whether cookies will be accepted by your web browser. Most browsers offer instructions on how to reset the browser to reject cookies in the 'Help' section of the toolbar. If you reject our cookies, many functions and conveniences of this Site may not work properly.")}</p>

        <h3>${_("Use For Personalization And Pedagogical Improvements")}</h3>
        <p>${_("Our goal is to provide current and future visitors with the best possible educational experience. To further this goal, we sometimes present different users with different versions of course materials and software. We do this to personalize the experience to the individual learner (assess the learner's level of ability and learning style, and present materials best suited to the learner), to evaluate the effectiveness of our course materials, to improve our understanding of the learning process and to otherwise improve the effectiveness of our offerings. We may publish or otherwise publicize results from this process, but, unless otherwise permitted under this Policy, those publications or public disclosures will not include Personal Information.")}</p>

        <h3>${_("Links To Other Websites")}</h3>
        <p>${_("The Site contains links to websites published by third parties, including other content providers as well as certain service providers, such as those who process payments on behalf of ")}<em>${platform_name}</em>. ${_("These other websites are not under our control, and you acknowledge and agree that we are not responsible for the collection and use of your information by such websites, unless we have otherwise indicated in this Policy. We encourage you to be aware when you are be redirected to a third party website and review the privacy policies of each website you visit and use.")}</p>

        <h3>${_("Security")}</h3>
        <p><em>${platform_name}</em>${_(" has a program designed to protect Personal Information in its possession or control. This is done through a variety of privacy and security policies, processes and procedures, including administrative, physical, and technical safeguards that reasonably and appropriately protect the confidentiality, integrity, and availability of the Personal Information that it creates, receives, maintains, or transmits. Nonetheless, no method of transmission over the Internet, or method of electronic storage, is 100% secure; and therefore, ")}<em>${platform_name}</em> ${_(" cannot guarantee its absolute security.")}</p>

        <h3>${_("Changing Our Policy")}</h3>
        <p>${_("Please note that we review and may make changes to this Policy from time to time. When changes are made, the Policy link will include a notation 'Revised (date).' indicating that you should review the new terms, which will be effective immediately upon posting on this page, with an updated effective date. The notation will be included in the Policy link for at least seven (7) days after the update has been made. By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Policy and any changes contained therein. In case you miss the notification referenced above, be sure to return to this page periodically to ensure familiarity with the most current version of this Policy.")}</p>

        <button type="button" class="btn btn-default pull-right print">${_("Print Privacy Policy")}</button>
      </div>
    </div>
  </div>
</section>

<script>
  $(document).ready(function() {
    $('#content section .container .row div button.print').click(function() {
      window.print();
      return false;
    });
  });
</script>
