// General styles for buttons.

// Reset platform styles.
input[type="submit"], input[type="button"], button, .button {
  &:hover:not(:disabled) {
    background-image: none;
  }

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    box-shadow: none;
    outline: none;
    border: none;
  }
}
