// Styles for footer templates.

.wrapper-footer {
  box-shadow: none;
  border-top: none;
  background-image: linear-gradient(to right, $primary, $primary-gradient);
  margin-top: initial;
  padding: $baseline;

  footer {
    .footer-about-openedx {
      float: initial;
    }

    .navbar-nav {
      margin: 0 auto;
    }

    .site-nav {
      .nav-item {
        .nav-link {
          color: $inverse;

          &:hover {
            color: $pearson-grey;
          }
        }
      }
    }

    .copyright {
      color: $inverse;
    }
  }
}
