<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Government Communications eLearning</title>

    <link href="https://s3.amazonaws.com/proversity-generic-maintenance-page/GCS/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div>
            <ul class="nav navbar-nav">
              <li>
                <li>
                  <a href="http://gcs.proversity.org">
                    <img src="https://s3.amazonaws.com/proversity-generic-maintenance-page/GCS/img/brand.svg" class="img-responsive" />
                  </a>
                </li>
              </li>
            </ul>
          </div>
      </div>
    </nav>

    <section role="maintenance">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-xs-12">
            <h1>Proversity services are currently under maintenance.</h1>
            <h2>We take quality very seriously. We'll be up again shortly.</h2>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="grid">
          <div class="item support-image hidden-lg hidden-md">
            <div>
              <a href="mailto:support@proversity.org">
                <img src="https://s3.amazonaws.com/proversity-generic-maintenance-page/GCS/img/maintenance.support.png" class="img-responsive" />
              </a>
            </div>
          </div>

          <div class="item support">
            <div>
              <h1>Support</h1>
              <h2>Our support teams are ready to assist you</h2>
            </div>
          </div>

          <div class="item support-image hidden-xs">
            <div>
              <a href="mailto:support@proversity.org">
                <img src="https://s3.amazonaws.com/proversity-generic-maintenance-page/GCS/img/maintenance.support.png" class="img-responsive" />
              </a>
            </div>
          </div>

          <div class="item maintenance-img">
            <div>
              <img src="https://s3.amazonaws.com/proversity-generic-maintenance-page/GCS/img/maintenance.icon.png" class="img-responsive" />
            </div>
          </div>

          <div class="item company-img">
            <div>
              <a href="https://www.proversity.org">
                <img src="https://s3.amazonaws.com/proversity-generic-maintenance-page/GCS/img/maintenance.brand.png" class="img-responsive" />
              </a>
            </div>
          </div>

          <div class="item company">
            <div>
              <h1>Explore</h1>
              <h2>Read more about us on our company website</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

