## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>
<% footer = get_footer(is_secure=is_secure) %>
<% footer_available_links = configuration_helpers.get_value('FOOTER_AVAILABLE_LINKS') %>
<%namespace name='static' file='static_content.html'/>

<div class="container-fluid wrapper-footer">
  <footer>
    <div class="row">
      <div class="col-12">
      % if footer_available_links:
        <nav class="navbar site-nav navbar-expand-sm" aria-label="${_('About')} ${_('Legal')}">
          <ul class="navbar-nav">
          % for item in footer_available_links:
            <li class="nav-item">
              <a class="nav-link" href="${item['url']}">${_(item['title'])}</a>
            </li>
          % endfor
          </ul>
        </nav>

        % if context.get('include_language_selector', footer_language_selector_is_enabled()):
            <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
        % endif

        ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright text-center">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>
      % else:
        <nav class="navbar site-nav navbar-expand-sm" aria-label="${_('About')}">
          <ul class="navbar-nav">
            % for item_num, link in enumerate(footer['navigation_links'], start=1):
              <li class="nav-item">
                <a class="nav-link" href="${link['url']}">${link['title']}</a>
              </li>
            % endfor
          </ul>
        </nav>

        % if context.get('include_language_selector', footer_language_selector_is_enabled()):
            <%include file="${static.get_template_path('widgets/footer-language-selector.html')}"/>
        % endif

        ## Site operators: Please do not remove this paragraph! This attributes back to edX and makes your acknowledgement of edX's trademarks clear.
        <p class="copyright">${footer['copyright']} ${u" | {icp}".format(icp=getattr(settings,'ICP_LICENSE')) if getattr(settings,'ICP_LICENSE',False) else ""}</p>

        <nav class="navbar legal-nav navbar-expand-sm" aria-label="${_('Legal')}">
          <ul class="navbar-nav">
            % for item_num, link in enumerate(footer['legal_links'], start=1):
              <li class="nav-item">
                <a class="nav-link" href="${link['url']}">${link['title']}</a>
              </li>
            % endfor
            <li class="nav-item">
              <a class="nav-link" href="${footer['edx_org_link']['url']}">${footer['edx_org_link']['text']}</a>
            </li>
          </ul>
        </nav>
      % endif
      </div>
      <div class="col-12 text-center">
        ## Please leave this link and use one of the logos provided
        ## The OpenEdX link may be hidden when this view is served
        ## through an API to partner sites (such as marketing sites or blogs),
        ## which are not technically powered by Open edX.
        % if not hide_openedx_link:
          <div class="footer-about-openedx">
            <a href="${footer['openedx_link']['url']}">
              <img src="${static.url('images/openedx.svg')}" alt="${footer['openedx_link']['title']}" width="140" />
            </a>
          </div>
        % endif
      </div>
    </div>
  </footer>
</div>

% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
