<%page expression_filter="h"/>
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _

from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

## Add a new list of lists containing the courses in groups of CAROUSEL_LIMIT_COURSES number.
## [
##   ['course one', 'course two', 'course three', 'course four'],
##   ['course one', ...], ...
## ]
<%
CAROUSEL_LIMIT_COURSES = configuration_helpers.get_value('CAROUSEL_LIMIT_COURSES', 4)

carousel_courses = []

for index_course in range(0, len(courses), CAROUSEL_LIMIT_COURSES):
  carousel_courses.append(courses[index_course:index_course + CAROUSEL_LIMIT_COURSES])
%>

% if courses:

  % if len(courses) > 0:

  <section role="highlight">
    <div class="container no-border">

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <div id="carousel-desktop" class="carousel slide hidden-sm hidden-xs" data-interval="false" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          % for index, car_courses in enumerate(carousel_courses):
            % if index == 0:
              <div class="item active">
                <div class="grid">
                  <div class="item">
                    % for course in car_courses:
                      <%include file="course.html" args="course=course" />
                    % endfor
                  </div>
                </div>
              </div>
            % else:
              <div class="item">
                <div class="grid">
                  <div class="item">
                    % for course in car_courses:
                      <%include file="course.html" args="course=course" />
                    % endfor
                  </div>
                </div>
              </div>
            % endif
          % endfor

          ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
          % if homepage_course_max and len(courses) > homepage_course_max:
          <div class="item active">
            <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
          </div>
           % endif

        </div>

        % if len(carousel_courses) > 1:
          <a class="left carousel-control hidden-sm" href="#carousel-desktop" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="right carousel-control hidden-sm" href="#carousel-desktop" role="button" data-slide="next">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        % endif

      </div>
      % endif

      % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <div id="carousel-mobile" class="carousel slide hidden-lg hidden-md" data-interval="false" data-ride="carousel">
        <div class="carousel-inner" role="listbox">

          % for index, course in enumerate(courses):
            % if index == 0:
              <div class="item active">
                  <%include file="course.html" args="course=course" />
              </div>
            % else:
              <div class="item">
                  <%include file="course.html" args="course=course" />
              </div>
            % endif
          % endfor
          
          <ol class="carousel-indicators">
            % for index, course in enumerate(courses):
              % if index == 0:
                <li data-target="#carousel-mobile" data-slide-to="${index}" class="active"></li>
              % else:
                <li data-target="#carousel-mobile" data-slide-to="${index}"></li>
              % endif
            % endfor
          </ol>
          
        </div>
      </div>
      % endif

    </div>
  </section>

  % endif

% endif