<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%namespace file='/main.html' import="login_query"/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.markup import HTML, Text
import third_party_auth
from third_party_auth import provider, pipeline
%>

<%
home_page_title = configuration_helpers.get_value('home_page_title', ' ')
home_page_subtitle = configuration_helpers.get_value('home_page_subtitle', ' ')
home_page_extra_message = configuration_helpers.get_value('home_page_extra_message', ' ')
home_banner_class = configuration_helpers.get_value('home_banner_class', ' ')
home_banner_image_class = configuration_helpers.get_value('home_banner_image_class', ' ')
%>

## <%block name="js_extra">
##   <script type="text/javascript">
    
##     function thirdPartySignin(event, url) {
##       event.preventDefault();
##       window.location.href = url;
##     }

##     (function post_form_if_pipeline_running(pipeline_running) {
##        // If the pipeline is running, the user has already authenticated via a
##        // third-party provider. We want to invoke /login_ajax to loop in the
##        // code that does logging and sets cookies on the request. It is most
##        // consistent to do that by using the same mechanism that is used when
##        // the use does first-party sign-in: POSTing the sign-in form.
##        if (pipeline_running) {
##          $('#login-form').submit();
##        }
##     })(${pipeline_running})
    
##     $(window).load(function() {
##          if(getParameterByName('next')) {
##               $('#login').trigger("click");
##          }
##       })
##   </script>
## </%block>

<div class="scroll-animation-default"></div>

<section role="default">
  <div class="section-media ${home_banner_image_class}" style="background-image: url(${static.url(configuration_helpers.get_value('banner_image_url'))});"></div>

  <div class="container no-border ${home_banner_class}">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="wrapper waypoint">
          <form class="default">
            <div class="default">
              <h1>${home_page_title}</h1>
              <h2>${home_page_subtitle}</h2>
              % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
                    % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                        <a href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}" class="btn btn-lg btn-default">${_("Sign in")}</a>
                    % else:
                        % if configuration_helpers.get_value('hide_login_screen', False):
                            % if third_party_auth.is_enabled():

                                <div class="form-actions form-third-party-auth">

                                % for enabled in provider.Registry.displayed_for_login():
                                    ## Translators: provider_name is the name of an external, third-party user authentication provider (like Google or LinkedIn).
                                    <button type="submit" class="button button-primary button-${enabled.provider_id} login-${enabled.provider_id}" onclick="thirdPartySignin(event, '${pipeline_url[enabled.provider_id]}');">
                                    % if enabled.icon_class:
                                    <span class="icon fa ${enabled.icon_class}" aria-hidden="true"></span>
                                    % else:
                                    <span class="icon" aria-hidden="true"><img class="icon-image" src="${enabled.icon_image.url}" alt="${enabled.name} icon" /></span>
                                    % endif
                                    ${_('Sign in or Sign up')}
                                    </button>
                                % endfor

                                </div>

                            % endif
                        % else:
                            <a href="/login?next=dashboard" class="btn btn-lg btn-login">${_("Sign in")}</a>
                        % endif

                        % if True:
                            <a href="/register" id="register" class="btn btn-lg btn-default">${_("Register")}</a>
                        % endif

                    % endif
                % endif

              <!-- <p><a href="/register" id="register">${_("Register")}</a></p> -->
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="extra-message"><p>${home_page_extra_message}</p></div>
</section>

<%include file="courses_list.html" />

<section>
  <div class="container no-border" id="mobile-section">
    <div class="grid">
      <div class="items">
        <div>
          <h1>${_("Access courses on the go")}</h1>

          <p>${_("Download the app and access your courses wherever you are. Sync videos to your device and watch offline, at a time that suits you.")}</p>

          % if False:
            <p><strong>Coming soon</strong></p>
          % else:
            <div class="btn-center">
              <ul>
                <li><a href="https://itunes.apple.com/us/app/celp/id1400762847?mt=8" target="_blank"><img src="${static.url('images/appstore.png')}" /></a></li>
                <li><a href="https://play.google.com/store/apps/details?id=org.proversity.cel" target="_blank"><img src="${static.url('images/playstore.png')}" /></a></li>
              </ul>
            </div>
          % endif
        </div>
      </div>

      <div class="items hidden-xs">
        <img src="${static.url('images/app.gif')}" class="img-responsive pull-right" />
      </div>
    </div>
  </div>
</section>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
