<%!
import third_party_auth
from third_party_auth import pipeline, provider
from django.utils.translation import ugettext as _
from django_countries import countries
from student.models import UserProfile
from django.conf import settings
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
REGISTRATION_EXTRA_FIELDS = configuration_helpers.get_value('REGISTRATION_EXTRA_FIELDS',
                                                            settings.REGISTRATION_EXTRA_FIELDS)
%>

<div class="register-step-one">

  <h1>${_("Register")}</h1>

  <p>${_("Step 1 of 2")}</p>

  % if third_party_auth.is_enabled():

    % if not running_pipeline:

    <div class="form-actions form-third-party-auth">

    % for enabled in provider.Registry.displayed_for_login():
      ## Translators: provider_name is the name of an external, third-party user authentication service (like Google or LinkedIn).
      <button type="submit" class="button button-primary button-${enabled.provider_id} register-${enabled.provider_id}" onclick="thirdPartySignin(event, '${pipeline_urls[enabled.provider_id]}');">
        % if enabled.icon_class:
        <span class="icon fa ${enabled.icon_class}" aria-hidden="true"></span>
        % else:
        <span class="icon" aria-hidden="true"><img class="icon-image" src="${enabled.icon_image.url}" alt="${enabled.name} icon" /></span>
        % endif
        ${_('Sign up with {provider_name}').format(provider_name=enabled.name)}
      </button>
    % endfor

    </div>

    <span class="deco-divider">
      ## Developers: this is a sentence fragment, which is usually frowned upon.  The design of the pags uses this fragment to provide an "else" clause underneath a number of choices.  It's OK to leave it.
      ## Translators: this is the last choice of a number of choices of how to log in to the site.
      <span class="copy">${_('or')}</span>
    </span>

    <p class="instructions">
      ${_('Create your own {platform_name} account below').format(platform_name=platform_name)}
    </p>

    % else:

    <p class="instructions">
      ## Translators: selected_provider is the name of an external, third-party user authentication service (like Google or LinkedIn).
      ${_("You've successfully signed in with {selected_provider}.").format(selected_provider='<strong>%s</strong>' % selected_provider)}<br />
          ${_("We just need a little more information before you start learning with {platform_name}.").format(platform_name=settings.PLATFORM_NAME)}
    </p>

    % endif

  % else:

  <p class="instructions">
    ${_("Please complete the following fields to register for an account. ")}<br />
	  ${_('Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.')}
  </p>

  % endif

  % if has_extauth_info is UNDEFINED:

      <label for="email">${_('E-mail')}</label>
      <input class="" id="email" type="email" name="email" value="${email}" placeholder="${_('example: username@domain.com')}" required aria-required="true" />

      <label for="name">${_('Full Name')}</label>
      <input id="name" type="text" name="name" value="${name}" placeholder="${_('example: Jane Doe')}" required aria-required="true" aria-describedby="name-tip" />
      <label>${_("Your legal name, used for any certificates you earn.")}</label>

      <label for="username">${_('Public Username')}</label>
      <input id="username" type="text" name="username" value="${username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip"/>
      <label>${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></label>

        % if third_party_auth.is_enabled() and running_pipeline:

          <label for="password">${_('Password')}</label>
          <input id="password" type="password" name="password" value="" disabled required aria-required="true" />

        % else:

          <label for="password">${_('Password')}</label>
          <input id="password" type="password" name="password" value="" required aria-required="true" />

        % endif

      <div role="alert" class="status message hidden submission-error user-message user-error" tabindex="-1">
        <p><span class="glyphicon glyphicon-remove"></span> ${_("The following errors occurred while processing your registration:")} </p> 
        <ul class="message-copy"> </ul>
      </div>

    <a href="" id="continueRegistration" class="btn btn-lg btn-default">${_("Continue")}</a>
    <a href="/login?next=dashboard">${_("Already have an account? Sign in")}</a>

  % else:

    <div class="user-message user-info hidden submission-error">
      <p><span className="glyphicon glyphicon-remove"></span> ${_("Welcome {username}").format(username=extauth_id)} <br /> ${_("Enter a Public Display Name:")}</p>
    </div>

    % if ask_for_email:

    <label for="email">${_("E-mail")}</label>
    <input class="" id="email" type="email" name="email" value="" placeholder="${_('example: username@domain.com')}" />

    % endif

    <label for="username">${_('Public Display Name')}</label>
    <input id="username" type="text" name="username" value="${extauth_username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip" />
    <label>${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></label>

    % if ask_for_fullname:

    <label for="name">${_('Full Name')}</label>
    <input id="name" type="text" name="name" value="" placeholder="$_('example: Jane Doe')}" aria-describedby="name-tip" />
    <label>${_("Your legal name, used for any certificates you earn.")}</label>

    % endif

  % endif

</div>

<div class="register-step-two">

  <h1>${_("Register")}</h1>

  <p>${_("Step 2 of 2")}</p>
  
    % if REGISTRATION_EXTRA_FIELDS['year_of_birth'] != 'hidden':
      <div class="field ${REGISTRATION_EXTRA_FIELDS['year_of_birth']} select" id="field-yob">
        <label for="yob">${_("Year of Birth")}</label>
        <select id="yob" name="year_of_birth" ${'required aria-required="true"' if REGISTRATION_EXTRA_FIELDS['year_of_birth'] == 'required' else ''}>
          <option value="">--</option>
          %for year in UserProfile.VALID_YEARS:
          <option value="${year}">${year}</option>
          %endfor
        </select>
      </div>
    % endif

    % if REGISTRATION_EXTRA_FIELDS['gender'] != 'hidden':
      <div class="field ${REGISTRATION_EXTRA_FIELDS['gender']} select" id="field-gender">
        <label for="gender">${_("Gender")}</label>
        <select id="gender" name="gender" ${'required aria-required="true"' if REGISTRATION_EXTRA_FIELDS['gender'] == 'required' else ''}>
          <option value="">--</option>
          %for code, gender in UserProfile.GENDER_CHOICES:
          <option value="${code}">${_(gender)}</option>
          %endfor
        </select>
      </div>
    % endif

    % if REGISTRATION_EXTRA_FIELDS['city'] != 'hidden':
      <div class="field ${REGISTRATION_EXTRA_FIELDS['city']} text" id="field-city">
        <label for="city">${_('City')}</label>
        <input id="city" type="text" name="city" value="" placeholder="${_('example: New York')}" aria-describedby="city-tip" ${'required aria-required="true"' if REGISTRATION_EXTRA_FIELDS['city'] == 'required' else ''} />
      </div>
    % endif

    % if REGISTRATION_EXTRA_FIELDS['country'] != 'hidden':
      <div class="field ${REGISTRATION_EXTRA_FIELDS['country']} select" id="field-country">
        <label for="country">${_("Country")}</label>
        <select id="country" name="country" ${'required aria-required="true"' if REGISTRATION_EXTRA_FIELDS['country'] == 'required' else ''}>
          <option value="">--</option>
          %for code, country_name in countries:
          <option value="${code}">${ unicode(country_name) }</option>
          %endfor
        </select>
      </div>
    % endif

    % if REGISTRATION_EXTRA_FIELDS['level_of_education'] != 'hidden':
      <div class="field ${REGISTRATION_EXTRA_FIELDS['level_of_education']} select" id="field-education-level">
        <label for="education-level">${_("Highest Level of Education Completed")}</label>
        <select id="education-level" name="level_of_education" ${'required aria-required="true"' if REGISTRATION_EXTRA_FIELDS['level_of_education'] == 'required' else ''}>
          <option value="">--</option>
          %for code, ed_level in UserProfile.LEVEL_OF_EDUCATION_CHOICES:
          <option value="${code}">${_(ed_level)}</option>
          %endfor
        </select>
      </div>
    % endif
  
    % if REGISTRATION_EXTRA_FIELDS['mailing_address'] != 'hidden':
      <div class="field ${REGISTRATION_EXTRA_FIELDS['mailing_address']} text" id="field-address-mailing">
        <label for="address-mailing">${_("Mailing Address")}</label>
        <textarea id="address-mailing" name="mailing_address" value="" ${'required aria-required="true"' if REGISTRATION_EXTRA_FIELDS['mailing_address'] == 'required' else ''}></textarea>
      </div>
    % endif

    % if REGISTRATION_EXTRA_FIELDS['goals'] != 'hidden':
      <div class="field ${REGISTRATION_EXTRA_FIELDS['goals']} text" id="field-goals">
        <label for="goals">${_("Please share with us your reasons for registering with {platform_name}").format(platform_name=platform_name)}</label>
        <textarea id="goals" name="goals" value="" ${'required aria-required="true"' if REGISTRATION_EXTRA_FIELDS['goals'] == 'required' else ''}></textarea>
      </div>
    % endif

    % if (has_extauth_info is UNDEFINED or ask_for_tos) and REGISTRATION_EXTRA_FIELDS['terms_of_service'] != 'hidden':
    <ul>
      <li><input id="tos-yes" type="checkbox" name="terms_of_service" value="true" required aria-required="true" /></li>
      <li>
        <label for="tos-yes">${_('I agree to the {link_start}Terms of Service{link_end}').format(
          link_start='<a href="{url}" class="new-vp" tabindex="-1">'.format(url=marketing_link('TOS')),
          link_end='</a>')}</label>
      </li>
    </ul>
    % endif

    % if REGISTRATION_EXTRA_FIELDS['honor_code'] != 'hidden':
      ## check if we have an Honor Code link in our marketing map
      % if marketing_link('HONOR') and marketing_link('HONOR') != '#':
      <ul>
        <li><input id="honorcode-yes" type="checkbox" name="honor_code" value="true" /></li>
        <li>
          <%
            honor_code_path = marketing_link('HONOR')
          %>
          <label for="honorcode-yes">${_('I agree to the {link_start}Terms of Service and Honor Code{link_end}').format(
            link_start='<a href="{url}" class="new-vp" tabindex="-1">'.format(url=honor_code_path),
            link_end='</a>')}</label>
        </li>
      % endif
    % endif

    <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

    <div role="alert" class="status message hidden submission-error user-message user-error" tabindex="-1">
      <p><span class="glyphicon glyphicon-remove"></span> ${_("The following errors occurred while processing your registration:")} </p> 
      <ul class="message-copy"> </ul>
    </div>

    <div class="form-actions">
      <p><a href="#" id="back"><i class="fa fa-chevron-left" aria-hidden="true"></i> ${_("Go back to step 1")}</a></p>
      <button name="submit" type="submit" id="submit" class="btn btn-lg btn-default">${_('Register')} <span class="orn-plus">+</span> ${_('Create My Account')}</button>
      <a href="/login?next=dashboard">${_("Already have an account? Sign in")}</a>
    </div>

</div>
