.courses-container {
  padding: 40px 10px 0 10px;
}

.find-courses,
.university-profile {
  background: $background-color-courses;
}

.courses-container .courses .course
.course-image .cover-image .learn-more {
  background: $primary;
}

.courses-container .courses .course .course-info .course-organization,
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-date {
  color: $secondary;
}

//info
section.updates div .updates-article {
  background: $background-color-info;
}

div.info-wrapper section.updates>ol .updates-article,
div.info-wrapper section.updates section .updates-article,
div.info-wrapper section.updates div article.updates-article {
  background-color: $background-color-info;
}

.wrapper-course-material .course-tabs li.tab a,
.wrapper-course-material .course-tabs li.tab a:visited {
  color: $primary-font-color;
}

.xmodule_display.xmodule_SequenceModule
.sequence-nav ol li button .sequence-tooltip {
  color: $primary-font-color;
}

//info-home
div.home div.page-header-main{
	.page-title , .page-subtitle {
	  color: $primary-font-color;
	}
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover {
  color:white;
}

article.updates-article {
  color: $primary-font-color;
}

//discussion-home
.view-discussion-home .helpgrid-row th.row-title{
  background-color: $inverse;
}

//profile
.view-profile .wrapper-profile-section-container-one div.wrapper-profile-section-one {
  background-color:$gray-l5;
}
