.courses-container {
  padding: 40px 10px 0 10px;
}

.find-courses,
.university-profile {
  background: $background-color-courses;
}

.courses-container .courses .course
.course-image .cover-image .learn-more {
  background: $primary;
}

.courses-container .courses .course .course-info .course-organization,
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-date {
  color: $secondary;
}

div.content-wrapper.main-container {
  min-height: 442px;
}

//about
.course-info header.course-profile .intro-inner-wrapper
section.intro div.main-cta a strong {
  background: $primary;
  box-shadow: none;
  border: 0;
  color: $inverse;
}

@media (max-width: 767px){
  .course-info header.course-profile .intro-inner-wrapper div.media {
    display: none;
  }
}

//info
section.updates div .updates-article {
  background: $background-color-info;
}

.course-outline .block-tree .section ol.outline-item .subsection a.outline-item:hover,
.course-outline .block-tree .section ol.outline-item .subsection a.outline-item:focus {
  background-color: $primary;
  color: $inverse;
}


div.info-wrapper section.updates>ol .updates-article,
div.info-wrapper section.updates section .updates-article,
div.info-wrapper section.updates div article.updates-article {
  background-color: $background-color-info;
}

.wrapper-course-material .course-tabs li.tab a,
.wrapper-course-material .course-tabs li.tab a:visited {
  color: $primary-font-color;
}

.xmodule_display.xmodule_SequenceModule
.sequence-nav ol li button div.sequence-tooltip {
  color: $primary-font-color;
}

body.view-in-course div.info-wrapper section.handouts a {
  color: $primary;
}

div.info-wrapper section.updates div article .toggle-visibility-element {
  color: $primary;
}

//course-course
.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:active .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav-button.active .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav button.focused .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav button:hover .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav button:active .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav button.active .icon {
  color: $secondary;
}

div.team-activity-description {
  display: none;
}

.sga-block p.upload label {
  float: left;
}

.xblock .xblock h2.team-activity-title {
  background: transparent;
  font-size: 1.2em;

  span.icon-toggle{
    display: none;
  }
}

.xmodule_display.xmodule_SequenceModule
.sequence-nav ol li button.seq_problem .icon::before {
  color: $secondary;
}

div.xmodule_display.xmodule_SequenceModule
.sequence-nav ol li button span.icon {
  color: $secondary;
}

.xmodule_display.xmodule_SequenceModule
.sequence-nav button:hover span.icon {
  color: $color-hover-icon-courses;
}

.xmodule_display.xmodule_SequenceModule
.sequence-nav button.active span.icon {
  color: $color-hover-icon-courses;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav button:hover {
  span.icon {
    color: $secondary;
  }
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover {
  span.icon {
    color: $secondary;
  }
}


//info-home
div.home div.page-header-main{
	.page-title , .page-subtitle {
	  color: $primary-font-color;
	}
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover {
  color:$secondary;
}

article.updates-article {
  color: $primary-font-color;
}

//discussion-home
.view-discussion-home .helpgrid-row th.row-title{
  background-color: $inverse;
}

.forum-nav-thread .forum-nav-thread-link ,
.forum-nav-thread-list .thread-preview-body{
  background-color:$gray-l5;
  color: $primary-font-color;
}

.forum-nav-thread .forum-nav-thread-link:hover {
  background-color:$gray-l5;
}

span.forum-nav-thread-comments-count {
  background-color: $secondary;
  color: $inverse;
}

.discussion .post-label.post-label-following {
  color: $primary;
}

.forum-nav-thread .forum-nav-thread-link.is-active {
  background-color: $gray-l5;
}

aside.forum-nav div.search-alert {
  background-color: $gray-l5;
}

//profile
.view-profile .wrapper-profile-section-container-one div.wrapper-profile-section-one {
  background-color:$gray-l5;
}

//instructor
section.instructor-dashboard-content-2 {
  input[type="button"], input[type="button"]:hover:not(:disabled) {
    background: $primary;
    color: $inverse;
    border: 1px solid $primary;
    font-weight: 400;
  }
}

.instructor-dashboard-wrapper-2
section.idash-section#membership
.member-lists-management .auth-list-container
.member-list-widget div.bottom-bar {
  background-color: $gray-l5;
}

.instructor-dashboard-content-2 .instructor-nav .nav-item button.btn-link:hover,
.instructor-dashboard-content-2 .instructor-nav .nav-item button.btn-link:focus {
    background: $inverse;
    color: $secondary;
}

.idash-section div.message-warning {
  background: $gray-l5;
}

//instructor-certificates
.instructor-dashboard-wrapper-2
.customBrowseBtn {

  div.file-browse {
    border: 0;
    background: transparent;
    bottom: -10px;

    span.browse {
      margin-left: 248px;
    }

    input.file_field {
      padding: 14px 0 0;
      left: -25%;
      top: 1px;
      color: $primary-font-color;
    }

  }

}

button.btn-blue, .view-teams .action-primary,
.instructor-dashboard-wrapper-2 button.btn-blue {
  color: $primary-font-color;
}

div.instructor-dashboard-wrapper-2 button.btn-blue {
  background: $primary;
  color: $primary-font-color;
}

//team
.join-team.form-actions
button.action.action-primary {
  background: $primary;
  color: $primary-font-color;
}

li.card.list-card.team-card,
li.card.square-card.topic-card.has-pennant {
  border: 1px solid $secondary;
}

div.page-header-main nav.breadcrumbs a.nav-item {
  color: $primary;
}

@media (max-width: 767px) {
  .view-teams  {
    div.team-profile div.page-content-main,
    div.team-profile div.page-content-secondary {
      width: 100%;
    }

    li.card.list-card div.card-actions,
    li.card.square-card.topic-card.has-pennant {
      width: 100%;
    }
  }

}

div.gradebook-wrapper section.gradebook-content
table.student-table td a {
  color: $pearson-grey;
}

div.gradebook-wrapper section.gradebook-content
table.grade-table td {
  color: $inverse;
}

div.gradebook-wrapper section.gradebook-content .student-search-field {
  color: $primary-font-color;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
  background: $primary;
  border: 1px solid;
}

.view-teams div.wrapper-msg {
  background: $secondary;
  border-top: 3px solid $primary;
}

.wrapper-prompt .prompt div.nav-actions {
  background: $secondary;
}

span.ui-button-icon-primary.ui-icon.ui-icon-closethick {
  margin: -9px;
}

li.errors {
  color: red;
}

li.success {
  color: $secondary;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
  background: $gray-l5;
}


@media (max-width: 767px) {
  .instructor-dashboard-wrapper-2 section.idash-section#membership
  .member-lists-management .auth-list-container
  div.member-list-widget div.bottom-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .instructor-dashboard-wrapper-2 section.idash-section#membership
  .member-lists-management div.auth-list-container
  .member-list-widget input[type="button"].add {
    position: relative;
    right: inherit;
  }
}

.instructor-dashboard-wrapper-2
section.idash-section#membership
.enroll-option div.hint.auto-enroll-hint,
.instructor-dashboard-wrapper-2 section.idash-section#membership
.enroll-option div.hint.email-students-hint {
  background: $gray-l5;
}

.instructor-dashboard-wrapper-2 section.idash-section#membership
.enroll-option .hint span.hint-caret {
  border-right: 8px solid $gray-l5;
  border-left: 8px solid transparent;
  border-top: 8px solid $gray-l5;
  border-bottom: 8px solid transparent;
}