.courses-container {
  padding: 40px 10px 0 10px;
}

.find-courses,
.university-profile {
  background: $background-color-courses;
}

.courses-container .courses .course
.course-image .cover-image .learn-more {
  background: $primary;
}

.courses-container .courses .course .course-info .course-organization,
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-date {
  color: $secondary;
}

//info
section.updates div .updates-article {
  background: $background-color-info;
}

.course-outline .block-tree .section ol.outline-item .subsection a.outline-item:hover,
.course-outline .block-tree .section ol.outline-item .subsection a.outline-item:focus {
  background-color: $primary;
  color: $inverse;
}


div.info-wrapper section.updates>ol .updates-article,
div.info-wrapper section.updates section .updates-article,
div.info-wrapper section.updates div article.updates-article {
  background-color: $background-color-info;
}

.wrapper-course-material .course-tabs li.tab a,
.wrapper-course-material .course-tabs li.tab a:visited {
  color: $primary-font-color;
}

.xmodule_display.xmodule_SequenceModule
.sequence-nav ol li button div.sequence-tooltip {
  color: $primary-font-color;
}

//course-course
.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav-button:active .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav-button.active .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav button.focused .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav button:hover .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav button:active .icon,
.xmodule_display.xmodule_SequenceModule .sequence-nav button.active .icon {
  color: $secondary;
}

.xmodule_display.xmodule_SequenceModule
.sequence-nav ol li button.seq_problem .icon::before {
  color: $secondary;
}

div.xmodule_display.xmodule_SequenceModule
.sequence-nav ol li button span.icon {
  color: $secondary;
}

.xmodule_display.xmodule_SequenceModule
.sequence-nav button:hover span.icon {
  color: $color-hover-icon-courses;
}

.xmodule_display.xmodule_SequenceModule
.sequence-nav button.active span.icon {
  color: $color-hover-icon-courses;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav button:hover {
  span.icon {
    color: $color-hover-icon-courses;
  }
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover {
  span.icon {
    color: $color-hover-icon-courses;
  }
}

//info-home
div.home div.page-header-main{
	.page-title , .page-subtitle {
	  color: $primary-font-color;
	}
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover {
  color:white;
}

article.updates-article {
  color: $primary-font-color;
}

//discussion-home
.view-discussion-home .helpgrid-row th.row-title{
  background-color: $inverse;
}

.forum-nav-thread .forum-nav-thread-link ,
.forum-nav-thread-list .thread-preview-body{
  background-color:$gray-l5;
  color: $primary-font-color;
}

.forum-nav-thread .forum-nav-thread-link:hover {
  background-color:$gray-l5;
}

span.forum-nav-thread-comments-count {
  background-color: $secondary;
  color: $inverse;
}

.discussion .post-label.post-label-following {
  color: $primary;
}

.forum-nav-thread .forum-nav-thread-link.is-active {
  background-color: $gray-l5;
}

//profile
.view-profile .wrapper-profile-section-container-one div.wrapper-profile-section-one {
  background-color:$gray-l5;
}

//instructor
input.instructor-dashboard-content-2 input[type="button"] {
  background-color: $primary;
  color: $inverse;
  border: 1px solid $primary;
}