// Extra rules needed for the LMS dark theme
//
// The _extras.scss file is imported after all other rules by
// the LMS Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

@import 'certificates';
@import 'login-register';
@import 'courses';
@import 'navigation';
@import 'footer';
@import 'profile';
@import 'index';
@import 'dashboard';
@import 'support';

//generals

body, html, button, input , textarea {
  color:$primary-font-color !important;
}


select, option, optgroup {
  color: $primary-font-color !important;
  background-color: $inverse !important;
  -webkit-appearance: menulist !important;
  -moz-appearance: menulist !important;
  -ms-appearance: menulist !important;
  -o-appearance: menulist !important;
}

textarea {
  color: $primary-font-color !important;
  background-color: $inverse !important;
}

.field-label{
  color: $primary-font-color;
}

.field-input{
  background-color: $inverse;
}

a {
  color: $primary;
}

.btn {
  border-color: $inverse;
  background: $primary ;
  color:$primary-font-color ;
}

.btn:hover, .is-hovered.btn, .btn:focus, .is-focused.btn {
  border-color: $inverse;
  background: $primary ;
}

.contact-us-wrapper .btn-primary,
.contact-us-wrapper .btn-brand {
  border-color: $primary;
}

.contact-us-wrapper .btn-primary:hover,
.contact-us-wrapper .btn-brand:hover,
.contact-us-wrapper .btn-primary:focus,
.contact-us-wrapper .btn-brand:focus {
    background-image: none;
    background-color: $primary;
    border-color: $primary;
}

@media (min-width: 768px) {
  .content-wrapper {
     padding: 0 0 10px;
  }
}

.submit-attempt-container {
  .btn-primary:disabled, .btn-brand:disabled,
  .btn-primary.is-disabled, .is-disabled.btn-brand {
    border-color: $pearson-grey;
    background: $pearson-grey;
  }
}

