.wrapper-footer footer#footer-openedx {

 a, .copyright,
 .colophon .nav-colophon li a {
    color: $primary;
  }
}

.wrapper-footer {
  border-top: 1px solid $primary;
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1) !important;
}

div.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover,
div.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus,
div.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:active {
  color: $primary;
}

nav.nav-colophon {
    display: none;
}

div.wrapper-footer footer#footer-openedx .colophon {
  width: calc(66.66667% - 1rem);
}

div.wrapper-footer footer#footer-openedx {
  box-sizing: border-box;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

div.colophon nav.nav-legal ul {
  margin-left: 0;
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
    font-size: 0.6875em;
  }

  li::before{
    content: "-";
    margin-right: $baseline*0.25;
  }
}

.wrapper-footer footer#footer-openedx div.wrapper-logo {
  margin: 0;
}

div.wrapper-footer footer#footer-openedx
.footer-about-openedx a {
  margin-left: 8px;
}

.footer-about-openedx p {
  text-align: right;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx {
  width: 30%;
}

.wrapper-footer footer#footer-openedx .copyright {
  font-size: 0.6875em;
  margin-top: 0;
}

@media (max-width: 991px) {
  div.wrapper-footer footer#footer-openedx {
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper-footer footer#footer-openedx .colophon {
    margin-right: 0;
  }

  .wrapper-footer footer#footer-openedx .copyright {
    text-align: center;
  }

  .wrapper-footer footer#footer-openedx .nav-legal {
    text-align: center;
  }

  .wrapper-footer footer#footer-openedx .footer-about-openedx {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
