header.banner {
  background-size: cover;
  min-height: 65vh;
  overflow: visible;
}

.home-banner {

	.title {
		color: #fff;
	    float: right;
	    padding: 50px;
	    margin-right: 8%;
	    margin-top: 5%;
	}

	.title-super {
		font-size: 5rem;
	}

	.title-sub {
		font-size: 2.5rem;
	}
}
