div.login-register-content {
  background: $background-color-form-login-register;
}

.login-register {
  background: $background-color-form-login-register;
}

button.action.action-primary.action-update.js-login.login-button {
  background: $primary;
}

button.action.action-primary.action-update.js-register.register-button {
  background: $primary;
}


.login-register .form-field select {
  background: $inverse;
}


button.action.action-primary.action-update.js-reset {
  background: $primary;
}
