.global-header h1.header-logo a .logo {
    float: left;
    height: 38px;
    margin-left: 3px;
}

@media (min-width: 992px) {
  header.global-header .nav-links .secondary a.register-btn {
    background-color: $button-color-register;
    color:$font-color-register;
    border: none;
  }
}

@media (min-width: 992px) {
  header.global-header .nav-links .secondary a.sign-in-btn {
    background-color: $button-color-login;
    border: 1px solid $primary;
    color:$primary;
  }
}

 .main-header .nav-links .main
 .mobile-nav-item.hidden-mobile.nav-item.nav-tab .btn {
  padding: 10px;
  color: $inverse;
}

@media (min-width: 992px){
  .global-header .nav-links .main .nav-tab a {
      padding: 10px;
  }
}

@media (max-width: 992px){
  .global-header .nav-links .main .nav-tab a {
      padding: 10px;
  }

  div.mobile-menu div.mobile-nav-link a {
    background-color: $light-gray;
    border-bottom: 1px solid $primary;
  }
}

@media (min-width: 768px) {
  div.content-wrapper {
    padding: 0 34px 10px;
  }
}

@media (max-width: 991px) {
  header.global-header h1.header-logo a .logo {
      margin-left: -50%;
  }
}
