
.highlighted-courses .courses .course a{
  text-align: center;
  margin-top: 10px;
}

.highlighted-courses .courses .course a:hover {
  color: $primary;
}

.highlighted-courses .courses {
  padding: 0px;
}

.courses-container .courses .course:hover .cover-image::before, .courses-container .courses .course:focus .cover-image::before {
 opacity:0;
}

.btn-learnmore {
  border-style: solid;
  border-radius: 0.1875rem;
  border-width: 1px;
  box-shadow: none;
  padding: 0.625rem 1.25rem;
  font-size: 16px;
  font-weight: normal;
  text-shadow: none;
  color: $inverse;
  background-color: $primary;
  margin: 10px 15px 20px 15px;
  text-align: center; 
}

.btn-learnmore:hover {
  color: $primary;
  background-color: $inverse;
}


.courses-container .courses .course .course-info h2 {
  margin-bottom: 5px;
}

.courses-container .courses .course .course-info .course-date {
  margin-bottom: 5px;
}

.courses-container .courses .course .course-info .course-title {
//  margin: 10px 0 15px 0;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.3;
  text-align: left;
  height: 45px;
  padding-top: 5px;
}


.find-courses,
.university-profile {
  background: $background-color-courses;
}

.courses-container .courses .course
.course-image .cover-image .learn-more {
  background: $primary;
}

.courses-container .courses .course .course-info .course-organization,
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-date {
  color: $secondary;
}

div.content-wrapper.main-container {
  min-height: 442px;
}

//about
.course-info header.course-profile .intro-inner-wrapper
section.intro div.main-cta a strong {
  background: $primary;
  box-shadow: none;
  border: 0;
  color: $inverse;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .course-info .button-enroll-bottom a.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart  {
  border: none;
  background-image: none;
  text-decoration: none;
  text-shadow: none; 
  background-color: $primary;
  color: #fff;
  border-radius: 3px;
  border: 1px solid white;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:focus:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:active:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:focus:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:active:not(:disabled) {
  border: 1px solid $primary;
  background-image: none;
  text-decoration: none;
  text-shadow: none;
  background-color: #fff;
  color: $primary;
  box-shadow: none;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover, .course-info .button-enroll-bottom a.register:hover, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:hover, .course-info .button-enroll-bottom a.add-to-cart:hover  {
  border: none;
  background-image: none;
  text-decoration: none;
  text-shadow: none;
  background-color: #fff;
  color: $primary;
}

.course-info header.course-profile .intro-inner-wrapper {
  box-shadow:none !important;
}

.content-wrapper .course-info header.course-profile {
  height: auto;
  padding-top: 0;
}

@media (max-width: 767px){
  .course-info header.course-profile .intro-inner-wrapper div.table {
    display: flex;
    flex-direction: column-reverse;

    .intro {
      width: 100%;
      text-align: center;
    }

    .pay-now-button {
      margin: 0 auto;
    }

    .media {
      width: fit-content;
      margin: 0 auto;
    }

    img {
      height: 160px;
      max-width: 264px;
    }
  }

  .course-info .container .course-sidebar {
    width: 100%;
  }
}

.wrapper-course-material .course-tabs {
  padding: 0;
}

.tabs .tab a, .tabs .tab a:visited {
  padding: 10px 15px 7px 15px;
}

body.view-in-course .wrapper-course-material .course-material .course-tabs {
  padding: 0;
}

div.wrapper-course-material .course-tabs .tab a,
div.wrapper-course-material .course-tabs .tab a:visited {
  padding: 10px 15px 7px 15px;
}

.course-wrapper section#course-content #main {
  max-width: 980px;
  display: block;
  margin: 0 auto;
}

div.course-wrapper .course-content .xblock.xblock-student_view-vertical,
div.course-wrapper .courseware-results-wrapper .xblock.xblock-student_view-vertical {
  max-width: 100%;
}

//info
section.updates div .updates-article {
  background: $background-color-info;
}

.course-outline .block-tree .section ol.outline-item .subsection a.outline-item:hover,
.course-outline .block-tree .section ol.outline-item .subsection a.outline-item:focus {
  background-color: $primary;
  color: $inverse;
}


div.info-wrapper section.updates>ol .updates-article,
div.info-wrapper section.updates section .updates-article,
div.info-wrapper section.updates div article.updates-article {
  background-color: $background-color-info;
}

.wrapper-course-material .course-tabs li.tab a,
.wrapper-course-material .course-tabs li.tab a:visited {
  color: $primary-font-color;
}

.xmodule_display.xmodule_SequenceModule
.sequence-nav ol li button div.sequence-tooltip {
  color: $primary-font-color;
}

body.view-in-course div.info-wrapper section.handouts a {
  color: $primary;
}

div.info-wrapper section.updates div article .toggle-visibility-element {
  color: $primary;
}

//course-course
.xmodule_display.xmodule_SequenceModule div.sequence-nav ol li button span.icon {
  font-size: 100%;
  color: $pearson-dark-blue-courseware;
}

h2.hd.hd-2.unit-title,
.xblock .xblock h2,  {
  font-size: 2.25em;
  font-family: DINPro-Regular, serif;
  display: none;
}

.course-outline .block-tree .section .section-name .section-title {
  font-family: DINPro-Regular, serif;
  font-size: 1.3rem;
}

.instructor-dashboard-content-2 input[type="button"] {
  text-shadow: none;
  font-weight: bold;
  box-shadow: none;
}

.forum-nav .search-alert-content .message {
  color: black;
}


.hd.hd-3.discussion-module-title, .hd-2 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.4em;
  font-family: DINPro-Regular, serif;
}

.discussion-module .inline-discussion-topic {
  font-size: 1rem;
}


.course-content div.bookmark-button-wrapper {
  margin-bottom: 10px;
}

div.content-wrapper.main-container .container {
  div.home {
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
  }

  div.info-wrapper,
  div.info-wrapper section.updates div article.updates-article {
    background-color: $pearson-grey-courseware-3;
    border:0;
    box-shadow: none;
  }
}

.content-wrapper .page-header {
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
}

header.page-header.has-secondary {
  padding-bottom: 0;
}

.xmodule_display.xmodule_VideoModule .video .wrapper-downloads {
  padding:10px;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.past .icon {
  color: $pearson-grey-courseware-4;
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button.focused .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav {
  color: $pearson-dark-blue-courseware;
}

button:active .icon, .xmodule_display.xmodule_SequenceModule .sequence-nav button.active .icon {
  font-size: 110%;
  color: $pearson-dark-blue-courseware !important;
}

body.view-in-course .wrapper-course-material, body.view-in-course .wrapper-preview-menu {
  border-bottom: 1px solid $pearson-grey-courseware;
}

.bookmark-button {
  display: none;
}



div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button .sequence-tooltip {
  background: $inverse;
  border: 1px solid $pearson-dark-blue-courseware;
  color: $pearson-dark-blue-courseware;
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button .sequence-tooltip::after {
  background: $inverse;
  border-top: 1px solid $pearson-dark-blue-courseware;
  border-left: 1px solid $pearson-dark-blue-courseware;
  top: -6px;
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button .sequence-tooltip {
  text-shadow: none;
}
/*
div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button .icon::before {
  content: "\f1db";
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_other .icon::before {
  content: "\f1db";
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_problem .icon::before {
  content: "\f1db";
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_video .icon::before {
  content: "\f1db";
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.past .icon::before {
  content: "\f111";
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_other.past .icon::before {
  content: "\f111";
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_problem.past .icon::before {
  content: "\f111";
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.seq_video.past .icon::before {
  content: "\f111";
} */

div.xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
  border-bottom: 3px solid $pearson-dark-blue-courseware;
}
/*
div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button.active .icon::before {
  content: "\f111";
} */

div.xmodule_display.xmodule_SequenceModule .sequence-nav {
  margin: 20px auto 30px;
}

.content-wrapper > .container {
  max-width: 1920px !important;
  width: 100%;
}

#main > .container {
  border: none !important;
}

.content-wrapper .page-content-container {
  border: none !important;
}

nav.courseware {
  border-bottom: 1px solid $pearson-grey-courseware;
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused,
div.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover,
div.xmodule_display.xmodule_SequenceModule .sequence-nav-button:active,
div.xmodule_display.xmodule_SequenceModule .sequence-nav-button.active,
div.xmodule_display.xmodule_SequenceModule .sequence-nav button.focused,
div.xmodule_display.xmodule_SequenceModule .sequence-nav button:hover,
div.xmodule_display.xmodule_SequenceModule .sequence-nav button:active,
div.xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
  background-color: transparent;
}

div.xmodule_display.xmodule_SequenceModule .sequence-nav-button.focused .icon,
div.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover .icon,
div.xmodule_display.xmodule_SequenceModule .sequence-nav-button:active .icon,
div.xmodule_display.xmodule_SequenceModule .sequence-nav-button.active .icon,
div.xmodule_display.xmodule_SequenceModule .sequence-nav button.focused .icon,
div.xmodule_display.xmodule_SequenceModule .sequence-nav button:hover .icon,
div.xmodule_display.xmodule_SequenceModule .sequence-nav button:active .icon,
div.xmodule_display.xmodule_SequenceModule .sequence-nav button.active .icon {
  font-size: 110% !important;
}

/*

div.xmodule_display.xmodule_VideoModule .video {
  background: none;
  margin: 15px 0;
  padding: 0;
  box-shadow: 4px 0px 20px 1px rgba(0,0,0,0.3);
}  */

div.xmodule_display.xmodule_SequenceModule .sequence-nav ol li {
  border-top-color: $pearson-grey-courseware;
  border-left-color: $inverse;
  border-right-color: $inverse;
}

.xblock--drag-and-drop .feedback {
  border: none !important;
}

div.course-wrapper .course-content .vert-mod .vert, .course-wrapper .courseware-results-wrapper .vert-mod .vert {
  border: none !important;
}

.sponsors > li > a > img {
  width: 50%;
}

.sponsors > li:first-child {
  text-align: right;
}

.sponsors > li:last-child {
  text-align: left;
}

//info-home
div.home div.page-header-main{
	.page-title , .page-subtitle {
	  color: $primary-font-color;
	}
}

.xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover {
  color:$secondary;
}

article.updates-article {
  color: $primary-font-color;
}

//discussion-home
.view-discussion-home .helpgrid-row th.row-title{
  background-color: $inverse;
}

.forum-nav-thread .forum-nav-thread-link ,
.forum-nav-thread-list .thread-preview-body{
  background-color:$gray-l5;
  color: $primary-font-color;
}

.forum-nav-thread .forum-nav-thread-link:hover {
  background-color:$gray-l5;
}

span.forum-nav-thread-comments-count {
  background-color: $secondary;
  color: $inverse;
}

.discussion .post-label.post-label-following {
  color: $primary;
}

.forum-nav-thread .forum-nav-thread-link.is-active {
  background-color: $gray-l5;
}

aside.forum-nav div.search-alert {
  background-color: $gray-l5;
}

//profile
.view-profile .wrapper-profile-section-container-one div.wrapper-profile-section-one {
  background-color:$gray-l5;
}

//instructor
section.instructor-dashboard-content-2 {
  input[type="button"], input[type="button"]:hover:not(:disabled) {
    background: $primary;
    color: $inverse;
    border: 1px solid $primary;
    font-weight: 400;
  }
}

.instructor-dashboard-wrapper-2
section.idash-section#membership
.member-lists-management .auth-list-container
.member-list-widget div.bottom-bar {
  background-color: $gray-l5;
}

.instructor-dashboard-content-2 .instructor-nav .nav-item button.btn-link:hover,
.instructor-dashboard-content-2 .instructor-nav .nav-item button.btn-link:focus {
    background: $inverse;
    color: $secondary;
}

.idash-section div.message-warning {
  background: $gray-l5;
}
//wiki

.wiki-wrapper section.wiki ul.nav-tabs li.active a {
  background-color: $gray-l5;
}

section#wiki-content {
  border: 1px solid $pearson-grey-courseware-2;
}

div.wiki-wrapper {
  box-shadow: none;
  border: 0;
}

.wiki-wrapper section.wiki ul.breadcrumb {
  margin: 0 0 0 13px;
}

.wiki-wrapper section.wiki .breadcrumbs-header
div.global-functions.pull-right
a.add-article-btn.btn.pull-left {
  color: $inverse;
}

div.global-functions.pull-right a.add-article-btn.btn.pull-left,
article#main-article div.form-actions a#previewButton,
.wiki-wrapper section.wiki a.btn:active:not(:disabled),
.wiki-wrapper section.wiki a.btn:focus:not(:disabled),
.wiki-wrapper section.wiki a.btn:hover:not(:disabled),
div.form-actions a.btn.btn-large.back {
  border: 1px solid $primary;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 $primary;
  color: $primary-font-color;
  display: inline-block;
  font-weight: bold;
  background: $primary;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  font-size: 0.8em;
}


//instructor-certificates
.instructor-dashboard-wrapper-2
.customBrowseBtn {

  div.file-browse {
    border: 0;
    background: transparent;
    bottom: -10px;

    span.browse {
      margin-left: 248px;
    }

    input.file_field {
      padding: 14px 0 0;
      left: -25%;
      top: 1px;
      color: $primary-font-color;
    }

  }

}

button.btn-blue, .view-teams .action-primary,
.instructor-dashboard-wrapper-2 button.btn-blue {
  color: $primary-font-color;
}

div.instructor-dashboard-wrapper-2 button.btn-blue {
  background: $primary;
  color: $primary-font-color;
}

//team
.join-team.form-actions
button.action.action-primary {
  background: $primary;
  color: $primary-font-color;
}

li.card.list-card.team-card,
li.card.square-card.topic-card.has-pennant {
  border: 1px solid $secondary;
}

div.page-header-main nav.breadcrumbs a.nav-item {
  color: $primary;
}

@media (max-width: 767px) {
  .view-teams  {
    div.team-profile div.page-content-main,
    div.team-profile div.page-content-secondary {
      width: 100%;
    }

    li.card.list-card div.card-actions,
    li.card.square-card.topic-card.has-pennant {
      width: 100%;
    }
  }

}

div.gradebook-wrapper section.gradebook-content
table.student-table td a {
  color: $primary-black;
}

div.gradebook-wrapper section.gradebook-content
table.grade-table td {
  color: $primary-black;
}

div.gradebook-wrapper section.gradebook-content .student-search-field {
  color: $primary-font-color;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
  background: $primary;
  border: 1px solid;
}

.view-teams div.wrapper-msg {
  background: $inverse;
  border-top: 3px solid $primary;
  .right-floater button {
    color: $primary;
  }
}

.wrapper-prompt .prompt div.nav-actions {
  background: $secondary;
}

span.ui-button-icon-primary.ui-icon.ui-icon-closethick {
  margin: -9px;
}

li.errors {
  color: red;
}

li.success {
  color: $secondary;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
  background: $gray-l5;
}


@media (max-width: 767px) {
  .instructor-dashboard-wrapper-2 section.idash-section#membership
  .member-lists-management .auth-list-container
  div.member-list-widget div.bottom-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .instructor-dashboard-wrapper-2 section.idash-section#membership
  .member-lists-management div.auth-list-container
  .member-list-widget input[type="button"].add {
    position: relative;
    right: inherit;
  }

  article.updates-article
  .toggle-visibility-element.article-content {
    font-size: 0.6rem;
  }

}

.instructor-dashboard-wrapper-2
section.idash-section#membership
.enroll-option div.hint.auto-enroll-hint,
.instructor-dashboard-wrapper-2 section.idash-section#membership
.enroll-option div.hint.email-students-hint {
  background: $gray-l5;
}

.instructor-dashboard-wrapper-2 section.idash-section#membership
.enroll-option .hint span.hint-caret {
  border-right: 8px solid $gray-l5;
  border-left: 8px solid transparent;
  border-top: 8px solid $gray-l5;
  border-bottom: 8px solid transparent;
}

div.container>div {
  border: 0 !important;
  box-shadow: none !important;
  margin: 0px;
}

section#instructor-dashboard-content,
.view-teams div.page-content,
section#course-info-progress,
.content-wrapper header.page-header,
div.content-wrapper.main-container div.container div.home {
  padding-left: 13px;
  padding-right: 13px;
}

.content-wrapper .course-info .container {
  padding-bottom: 0;
}

.content {
  padding: 0px 30px;
}

.course-info .button-enroll-bottom {
  margin-bottom: 15px;
  text-align: center;
  margin-top: 15px;

  .pay-now-button {
    margin: 0 auto;
  }

  a {
    background: #ccc;
    padding: 10px;

    &.register {
      background: $pearson-dark-blue-courseware;
      color: $white;
      font-size: 1.2rem;
    }
  }
} 
