<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">

		<h1>HONOR CODE</h1>

	    <h2>1. Collaboration Policy</h2>
	    <p>By enrolling in a course on <em>Pearson</em>, you are joining a special worldwide community of learners. The aspiration of <em>Pearson</em> is to provide anyone in the world who has the motivation and ability to engage coursework from a group of forward thinking employers. You are part of the community who will help <em>Pearson</em> achieve this goal.</p>
	    <p><em>Pearson</em> depends upon your motivation to learn the material and to do so with honesty. In order to participate in <em>Pearson</em>, you must agree to the Honor Code below and any additional terms specific to a class. This Honor Code, and any additional terms, will be posted on each class website.</p>
	    <h2>2. Honor Pledge</h2>
	    <p>By enrolling in an <em>Pearson</em> course, I agree that I will:</p>
	    <p>
	      </p><ul>
	        <li>Complete all essays and exams with my own work and only my own work. I will not submit the work of any other person.</li>
	        <li>Maintain only one user account and not let anyone else use my username and/or password.</li>
	        <li>Not engage in any activity that would dishonestly improve my results, or improve or hurt the results of others.</li>
	        <li>Not post answers to problems that are being used to assess student performance.</li>
	      </ul>
	    <p></p>
	    <p>Unless otherwise indicated by the instructor of an <em>Pearson</em> course, learners on <em>Pearson</em> are encouraged to:</p>
	    <p>
	      </p><ul>
	        <li>Collaborate with others on the lecture videos, exercises, homework and labs.</li>
	        <li>Discuss with others general concepts and materials in each course.&lt;</li>
	        <li>Present ideas and written work to fellow <em>Pearson</em> learners or others for comment or criticism.</li>
	      </ul>
	    <p></p>
	    <h2>3. Changing the Honor Code</h2>
	    <p>Please note that we review and may make changes to this Honor Code from time to time. Any changes to this Honor Code will be effective immediately upon posting on this page, with an updated effective date. By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Honor Code and any changes contained therein.  Be sure to return to this page periodically to ensure familiarity with the most current version of this Honor Code.</p>

    </section>

</main>
