.signin-container {
    box-shadow: 2px 2px 2px $shadow-light-gray;
    padding: 50px 30px 60px;
}

.signing-title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.login-register .form-wrapper .login-providers {
    display: flex;
    text-align: left;
    background: $gray-lightest;
    padding: 10px 15px 40px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px $shadow-light-gray;
    border-bottom: 0.1px solid $shadow-gray;
}

.email-email .label-text,
.password-password .label-text {
    display: block;
    margin: 10px 0;
    height: 0;
}

.form-field input.input-block {
    height: 45px;
    padding: 15px;
    margin-bottom: 5px;
}

.login-register div.toggle-form {
    margin-top: 15px;
    text-align: center;
}

.login-register .form-field .tip {
    color: $medium-light-gray;
}

.login-register .action-primary {
    width: 100%;
    display: block;
}
