.wrapper-footer footer#footer-openedx {

 a, .copyright,
 .colophon .nav-colophon li a {
    color: $inverse;
  }
}

.vue-footer {
  background-color: $vue-header-footer !important;
}

.apprenticeships-footer {
   background-color: $app-header-footer !important;
}

.footer-about-openedx img {
  margin: 20px;
}


.wrapper-footer footer .legal-nav {
  margin: 10px auto; 
}


.wrapper-footer footer .footer-about-openedx  {
  margin: auto;
}

 .wrapper-footer footer#footer-openedx .colophon {
    float: none;
    margin: auto;
    min-height: 30px;
  }

.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
  margin: auto;
  float: none;
  width: 85%;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx {
  margin: auto;
  width: 100%;
}

div.wrapper-footer footer#footer-openedx .footer-about-openedx a{
  float:left;
}

.wrapper-footer footer#footer-openedx .copyright, .wrapper-footer footer .copyright {
  color: $inverse;
  width: 50%;
  text-align: right;
  float: left;
  margin: 20px;
  font-size: 0.7rem;
}

.wrapper-footer footer#footer-openedx .nav-legal,  .wrapper-footer footer .legal-nav .nav-item .nav-link  {
    text-align: center;
    color: $inverse;
    float: none;
    margin: auto;
  }


.wrapper-footer {
  border-top: 1px solid $primary;
  background-color: $primary;
  color: $inverse;
  box-shadow: none;
}

.wrapper .wrapper-footer {
  border-top: 1px solid $primary;
  background-color: $primary;
  color: $inverse;
   text-align: center;
}

.container-fluid .wrapper-footer {
  border-top: 1px solid $primary;
  background-color: $primary;
  color: $inverse;
}

.wrapper-footer footer#footer-openedx ul {
 font-size: 1.2rem;
}

div.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover,
div.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus,
div.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:active {
  color: $inverse;
}

nav.nav-colophon {
    display: none;
}

div.wrapper-footer footer#footer-openedx {
  box-sizing: border-box;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  background-color: none;
  color: $inverse;
}

div.colophon nav.nav-legal ul {
  margin-left: 0;
}

.wrapper-footer footer#footer-openedx div.wrapper-logo {
  margin: 0;
}

div.wrapper-footer footer#footer-openedx
.footer-about-openedx a {
  margin-left: 8px;
}

@media (max-width: 991px) {
    div.wrapper-footer footer#footer-openedx {
      display: flex;
      flex-wrap: wrap;
    }

    .wrapper-footer footer#footer-openedx .colophon {
      color: $inverse;
    }

    .wrapper-footer footer#footer-openedx .copyright, .wrapper-footer footer .copyright {
      //text-align: center;
      color: $inverse;
      font-size: 0.7rem;
      margin: 20px;
    }

    .wrapper-footer footer img {
      //text-align: center;
      margin: 20px;
    }


    .wrapper-footer footer#footer-openedx .nav-legal, .wrapper-footer footer .legal-nav .nav-item .nav-link {
      text-align: center;
      color: $inverse;
      margin: auto;
    }

    .wrapper-footer footer#footer-openedx .footer-about-openedx {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
}


@media (max-width: 500px) {

  .wrapper-footer footer#footer-openedx .copyright, .wrapper-footer footer .copyright {
    text-align: center;
    color: $inverse;
    font-size: 0.7rem;
    margin: 20px;
  }
}
