// Extra rules needed for the LMS dark theme
//
// The _extras.scss file is imported after all other rules by
// the LMS Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

@import 'certificates';
@import 'courses';
@import 'navigation';
@import 'footer';
@import 'profile';
@import 'index';
@import 'dashboard';
@import 'support';
@import 'login-register';
@import 'course-experience';


//registration 
.view-register .form-actions button[type="submit"]:hover {
  background-color:#fff;
  border: 1px solid #007FA3;
}


.register-form {
  max-width: 600px;
  margin: auto;
}
//generals

body, html, button, textarea {
  color:$primary-font-color ;
}

html {
  background: $inverse !important;
}

input::not(input[type="button"]) {
  color:$primary-font-color !important;
}

select, option, optgroup {
  color: $primary-font-color !important;
  background-color: $inverse !important;
  -webkit-appearance: menulist !important;
  -moz-appearance: menulist !important;
  -ms-appearance: menulist !important;
  -o-appearance: menulist !important;
}

textarea {
  color: $primary-font-color !important;
  background-color: $inverse !important;
}

a, a:visited:not(.btn) {
  color: $primary ;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  color: $primary-font-color;
}


.light-button:hover:not(:disabled),
div.history-controls input[type="submit"]:hover:not(:disabled),
a.light-button:hover:not(:disabled),
div.info-wrapper section.handouts ol li div.hitarea:hover+h4.light-button:not(:disabled),
div.info-wrapper section.handouts ol li div.hitarea:focus+h4.light-button:not(:disabled),
.gray-button:hover:not(:disabled),
input[type="reset"]:hover:not(:disabled),
input[type="submit"]:hover:not(:disabled),
input[type="button"]:hover:not(:disabled),
button:hover:not(:disabled),
.button:hover:not(:disabled),
.xmodule_display.xmodule_LTIModule div.lti.wrapper-lti-link
.lti-link .link_lti_new_window:hover:not(:disabled),
input[type="submit"].btn-blue:hover:not(:disabled),
input.btn-blue:hover:not(:disabled),
button.btn-blue:hover:not(:disabled) {
  background: $primary;
  background-image: none;
}



.field-label{
  color: $primary-font-color;
}

.field-input{
  background-color: $inverse;
}

.btn {
  border-color: $inverse;
  background: $primary ;
  color:$inverse ;
}

.btn:hover, .is-hovered.btn, .btn:focus, .is-focused.btn {
  border-color: $inverse;
  background: $primary ;
}

div.page-banner div.alert.alert-warning {
  background-color: $gray-l5;
  border-color: $gray-l5;
}

div.prompt.warning.has-actions
nav.nav-actions li.nav-item button.action-primary {
  background-color: $primary;
  border: 1px solid $primary;
  border-color: $primary;
}

.wrapper-prompt div.prompt.warning div.copy {
  background: $gray-l5;
  border-top-color: $primary;
}

.contact-us-wrapper .btn-primary,
.contact-us-wrapper .btn-brand {
  border-color: $primary;
}

.contact-us-wrapper .btn-primary:hover,
.contact-us-wrapper .btn-brand:hover,
.contact-us-wrapper .btn-primary:focus,
.contact-us-wrapper .btn-brand:focus {
    background-image: none;
    background-color: $primary;
    border-color: $primary;
}

@media (min-width: 768px) {
  .content-wrapper {
     padding: 0 0 10px;
  }
}

.submit-attempt-container {
  .btn-primary:disabled, .btn-brand:disabled,
  .btn-primary.is-disabled, .is-disabled.btn-brand {
    border-color: $pearson-grey;
    background: $pearson-grey;
  }
}

input.js-post-title.field-input,
form.forum-new-post-form input[type=text].field-input,
form.forum-new-post-form input[type=text].wrapper-custom-select,
.edit-post-form input[type=text].field-input,
.edit-post-form input[type=text].wrapper-custom-select {
  color: $primary-font-color;
}

div.wmd-panel.wmd-preview p {
  color: $inverse;
}



//static-tamplate

section.container.about {
  border-left: 1px solid $primary;
  margin-top: 50px;
  margin-bottom: 30px;

  h1,
  h2,
  a, {
    color: $primary;
  }

  ol {
    list-style-type: none;
  }
}

// Rocket chat tab service

iframe.rocket-chat-view {
  width: 100%;
  height: 500px;
  border: none;
}

.rocket_chat_error_message {
  text-align: center;
  color: red;
}

.alert.warning .action-secondary,
.notification.warning .action-secondary,
.prompt.warning .action-secondary {
  color: $primary;
}

.course-info .pay-now-button.btn {
  background-color: $pearson-dark-blue-courseware;
  border: 1px solid $pearson-dark-blue-courseware;
  padding: 10px 0;
  width: 40%;
  display: block;
  font: normal 1.2rem/1.6rem Open Sans;
  text-align: center;
}

.modal .inner-wrapper p {
  font-size: 0.9em;
}

.modal .inner-wrapper .close-modal:focus {
  outline: none;
}

.u-field-date_joined .u-field-title {
  cursor: text;
}

.view-profile .tabpanel {
  .badge-set-display {
    min-width: auto;

    .badge-list {
      padding: 0;
    }

    .badge-display {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .view-profile .tabpanel {
    .badge-set-display {
      min-width: auto;
    }
  }
}
