{% extends 'edx/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% endblock %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div id="error-message">
        <div class="container">
            <div class="depth depth-2 message-error-content">
                <h3>{{ error }}</h3>
                {% blocktrans with link=request.site.siteconfiguration.payment_support_email %}
                    If you need assistance, contact <a href="mailto:{{ link }}">Pearson</a> support.
                {% endblocktrans %}
            </div>
        </div>
    </div>
{% endblock %}
