<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%
course_mode_class = course_mode if course_mode else ''
%>

<main class="accomplishment accomplishment-main">

    <div class="wrapper-accomplishment-rendering">
        <div class="accomplishment-rendering">
            <div>
                <span class="deco-corner deco-corner-tl"></span>
                <span class="deco-corner deco-corner-tr"></span>
                <span class="deco-corner deco-corner-bl"></span>
                <span class="deco-corner deco-corner-br"></span>

                <div class="accomplishment-type">
                    <span class="accomplishment-type-symbol">
                        <img class="src" src="${static.url('images/certificate.brand.png')}" alt="${platform_name}">

                        % if course_logo_url:
                            <img class="src" src="${course_logo_url}" alt="${platform_name}">
                        % endif
                    </span>

                    <div class="certificate-type-web">
                        % if override_certificate_title and len(override_certificate_title) > 0:
                            <span class="accomplishment-type-label hd-2">${override_certificate_title}</span>
                        % else:
                            <span class="accomplishment-type-label hd-2">${platform_name} | ${_("Certificate")}</span>
                        % endif
                    </div>
                </div>

                <div class="wrapper-statement-and-signatories">
                    <div class="accomplishment-statement">
                        <p class="accomplishment-statement-lead">
                            <div class="certificate-type-print">
                                % if override_certificate_title and len(override_certificate_title) > 0:
                                    <span class="accomplishment-type-label hd-2">${override_certificate_title}</span>
                                % else:
                                    <span class="accomplishment-type-label hd-2">${platform_name} | ${_("Certificate")}</span>
                                % endif
                            </div>

                            <strong class="accomplishment-recipient hd-1 emphasized">${accomplishment_copy_name}</strong>
                            <span class="accomplishment-summary copy copy-lead">${accomplishment_copy_description_full}</span>

                            <span class="accomplishment-course hd-1 emphasized">
                                % if show_course_number > 0:
                                    <span class="accomplishment-course-org">${accomplishment_copy_course_org}  </span>
                                    <span class="accomplishment-course-number">${course_number}</span>:
                                    <span class="accomplishment-course-name">${accomplishment_copy_course_name}</span>
                                % else:
                                    <span class="accomplishment-course-name">${accomplishment_copy_course_name}</span>
                                % endif
                                <span class="accomplishment-separator-short"></span>
                            </span>
                        </p>

                        <p class="accomplishment-statement-detail copy copy-lead">${accomplishment_copy_course_description}</p>
                        
                        <p class="metadata accomplishment-date print">
                            <span class="label copy copy-meta">${certificate_date_issued_title}</span>
                            <span class="value copy copy-base">${certificate_date_issued}</span>
                        </p>
                    </div>

                    % if mode != 'base':
                    <div class="accomplishment-signatories">
                        <h3 class="accomplishment-signatories-title sr-only">${_("Noted by")}</h3>

                        <div class="wrapper-signatories">
                            <div class="list-signatories">
                                % if certificate_data:
                                    % for signatory in certificate_data.get('signatories', []):
                                    <div class="signatory">
                                        <img class="signatory-signature" src="${static.url(signatory['signature_image_path'])}" alt="${signatory['name']}">

                                        <h4 class="signatory-name hd-5">${signatory['name']}</h4>
                                        <p class="signatory-credentials copy copy-micro">
                                            <span class="role">${signatory['title']}</span>
                                            <span class="organization">${signatory['organization']}</span>
                                        </p>
                                    </div>
                                    % endfor
                                % endif
                            </div>
                        </div>
                    </div>
                    % endif
                </div>

                <div class="accomplishment-badges">
                    % if badges:
                        % if len(badges) > 0:
                            % for badge in badges:
                                <span class="accomplishment-type-symbol">
                                    <img class="src" src="${badge.image_url}" alt="">
                                </span>
                            % endfor
                        % endif
                    % endif
                </div>

                % if show_proversity_logo:
                    <div class="accomplishment-orgs">
                        <h3 class="accomplishment-orgs-title sr-only">${_("Supported by the following organizations")}</h3>

                        <ul class="wrapper-orgs list-orgs">
                            <li class="wrapper-organization">
                                <div class="organization organization-edX">
                                    <img class="organization-logo" src="/static/proversity-theme/images/logo.png" alt="Proversity.org">
                                </div>
                            </li>
                        </ul>
                    </div>
                % endif
            </div>
        </div>
    </div>

    <div class="wrapper-accomplishment-metadata">
        <div class="accomplishment-metadata">
            <h2 class="accomplishment-metadata-title hd-6">${accomplishment_copy_more_about}</h2>

            <div class="wrapper-metadata">
                <dl class="metadata accomplishment-recipient">
                    <dt class="label sr-only">Awarded to:</dt>
                    <dd class="value copy copy-meta">
                        <div class="recipient-details">
                            <h3 class="recipient-name">${accomplishment_copy_name}</h3>
                            <p class="recipient-username">${accomplishment_copy_username} @ ${platform_name}</p>
                        </div>
                    </dd>
                </dl>
                <dl class="metadata accomplishment-id no-print">
                    <dt class="label copy copy-meta">${certificate_id_number_title}:</dt>
                    <dd class="value copy copy-base">${certificate_id_number}</dd>
                </dl>
                <dl class="metadata accomplishment-date no-print">
                    <dt class="label copy copy-meta">${certificate_date_issued_title}</dt>
                    <dd class="value copy copy-base">${certificate_date_issued}</dd>
                </dl>
            </div>
        </div>
    </div>

</main>
