## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='/static_content.html'/>
  
<footer class="footer" aria-label="${_("Page Footer")}"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
  <div class="container">

    % if configuration_helpers.get_value('FOOTER_ALIGNMENT', 'center') == 'center':
      <div class="grid">
        <div class="items">
          <div>
            <ul>
              <li><a href="" target="_blank">${_("About")}</a></li>
              <li><a href="${marketing_link('FAQ')}" target="_blank">${_("FAQ")}</a></li>
              <li><a href="${marketing_link('HONOR')}" target="_blank">${_("Terms of Service and Honour Code")}</a></li>
              <li><a href="${marketing_link('PRIVACY')}" target="_blank">${_("Privacy Policy")}</a></li>
              <li><a href="${marketing_link('COOKIES')}" target="_blank">${_("Cookie Policy")}</a></li>
            </ul>

            <ul>
              % if configuration_helpers.get_value('ENABLE_EXTEND_SIDEBAR_MENU', False):
                % for menu_item in configuration_helpers.get_value('EXTENDED_MENU', []):
                  <% display_name, url = menu_item.split(",") %>
                  <li>
                    <a href="${url}" target="blank">${_(display_name)}</a>
                  </li>
                % endfor
              % endif
            </ul>

            <ul class="sponsors">
              <li><a href="https://constructeducation.com/" target="_blank"><img src="${static.url('images/construct.svg')}" /></a></li>
              <li><a href="${footer['openedx_link']['url']}" target="_blank"><img src="${static.url('images/openedx.svg')}" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    % elif configuration_helpers.get_value('FOOTER_ALIGNMENT', 'center') == 'left':
      <div class="grid double">
        <div class="items">
          <div>
            <ul>
              <li><a href="" target="_blank">${_("About")}</a></li>
              <li><a href="${marketing_link('FAQ')}" target="_blank">${_("FAQ")}</a></li>
              <li><a href="${marketing_link('HONOR')}" target="_blank">${_("Terms of Service and Honour Code")}</a></li>
              <li><a href="${marketing_link('PRIVACY')}" target="_blank">${_("Privacy Policy")}</a></li>
              <li><a href="${marketing_link('COOKIES')}" target="_blank">${_("Cookie Policy")}</a></li>
            </ul>

            <ul>
              % if configuration_helpers.get_value('ENABLE_EXTEND_SIDEBAR_MENU', False):
                % for menu_item in configuration_helpers.get_value('EXTENDED_MENU', []):
                  <% display_name, url = menu_item.split(",") %>
                  <li>
                    <a href="${url}" target="blank">${_(display_name)}</a>
                  </li>
                % endfor
              % endif
            </ul>
          </div>
        </div>

        <div class="items">
          <div>
            <ul class="sponsors">
              <li><a href="https://constructeducation.com/" target="_blank"><img src="${static.url('images/construct.svg')}" /></a></li>
              <li><a href="${footer['openedx_link']['url']}" target="_blank"><img src="${static.url('images/openedx.svg')}" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    % elif configuration_helpers.get_value('FOOTER_ALIGNMENT', 'center') == 'right':
      <div class="grid double reverse">
        <div class="items">
          <div>
            <ul>
              <li><a href="" target="_blank">${_("About")}</a></li>
              <li><a href="${marketing_link('FAQ')}" target="_blank">${_("FAQ")}</a></li>
              <li><a href="${marketing_link('HONOR')}" target="_blank">${_("Terms of Service and Honour Code")}</a></li>
              <li><a href="${marketing_link('PRIVACY')}" target="_blank">${_("Privacy Policy")}</a></li>
              <li><a href="${marketing_link('COOKIES')}" target="_blank">${_("Cookie Policy")}</a></li>
            </ul>

            <ul>
              % if configuration_helpers.get_value('ENABLE_EXTEND_SIDEBAR_MENU', False):
                % for menu_item in configuration_helpers.get_value('EXTENDED_MENU', []):
                  <% display_name, url = menu_item.split(",") %>
                  <li>
                    <a href="${url}" target="blank">${_(display_name)}</a>
                  </li>
                % endfor
              % endif
            </ul>
          </div>
        </div>

        <div class="items">
          <div>
            <ul class="sponsors">
              <li><a href="https://constructeducation.com/" target="_blank"><img src="${static.url('images/construct.svg')}" /></a></li>
              <li><a href="${footer['openedx_link']['url']}" target="_blank"><img src="${static.url('images/openedx.svg')}" /></a></li>
            </ul>
          </div>
        </div>
      </div>
    % endif

  </div>
</footer>



% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif

<script>
  $(document).ready(function () {
		
	var currentPosition = $("#sequence-list li button.active").attr("data-index");

	$("#sequence-list li button").each(function (index) {
		var buttonPosition = index;

		if (buttonPosition < currentPosition) {
			$(this).addClass("past");
		} else if (buttonPosition > currentPosition) {
			$(this).addClass("future");
		}
	})

})

$(document).on("click", "#sequence-list li button" , function () {

	var currentPosition = $("#sequence-list li button.active").attr("data-index");

	$("#sequence-list li button").each(function (index) {
		var buttonPosition = index;

		console.log(buttonPosition > currentPosition)

		if (buttonPosition < currentPosition) {
			$(this).removeClass("future");
			$(this).addClass("past");
		} else if (buttonPosition > currentPosition) {
			console.log("Hello");
			$(this).removeClass("past");
			$(this).addClass("future");
		}
	})

})

$(document).on("click", ".button-next" , function () {

	var currentPosition = $("#sequence-list li button.active").attr("data-index");

	$("#sequence-list li button").each(function (index) {
		var buttonPosition = index;

		if (buttonPosition < currentPosition) {
			$(this).removeClass("future");
			$(this).addClass("past");
		} else if (buttonPosition > currentPosition) {
			$(this).removeClass("past");
			$(this).addClass("future");
		}
	})

})

$(document).on("click", ".button-previous" , function () {

	var currentPosition = $("#sequence-list li button.active").attr("data-index");

	$("#sequence-list li button").each(function (index) {
		var buttonPosition = index;

		if (buttonPosition < currentPosition) {
			$(this).removeClass("future");
			$(this).addClass("past");
		} else if (buttonPosition > currentPosition) {
			$(this).removeClass("past");
			$(this).addClass("future");
		}
	})

})
</script>

% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
<!-- Cookie Consent -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.1/cookieconsent.min.js"></script>
<script>
  window.cookieconsent.initialise({
    palette:{
      popup: {background: "#323538", text: "#ffffff"},
      button: {background: "#0f1d4e"},
    },
    theme: "classic"
  });
  $('.cc-window').css("font-family", $('body').css('fontFamily'));
</script>
% endif

% if False:
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=GOOGLE_TRACKING_ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'GOOGLE_TRACKING_ID');
</script>
% endif

<% languages = released_languages() %>

<script>
  function setLanguage(data) {
    $.ajax({
      type: 'POST',
      url: '/i18n/setlang/',
      data: data,
      dataType: 'html',
      success: function() {
        location.reload();
      },
      error: function() {}
    });
  }

  function prefLanguage(data, setLangData) {
    $.ajax({
      type: 'PATCH',
      url: '/lang_pref/session_language/',
      data: JSON.stringify(data),
      contentType: "application/json",
      success: function() {
        setLanguage(setLangData);
      },
      error: function() {}
    });
  }

  function prefUserLanguage(data, setLangData) {
    $.ajax({
      type: 'PATCH',
      url: '/api/user/v1/preferences/${user.username}' ,
      data: JSON.stringify(data),
      contentType: "application/merge-patch+json",
      success: function() {
        prefLanguage(data, setLangData);
      },
      error: function() {}
    });
  }

  % for language in languages:
    $( "#lang-${language[0]}" ).click(function(e) {
      e.preventDefault()
      var data = {
        'pref-lang': '${language[0]}',
        'csrfmiddlewaretoken': '${csrf_token}'
      };

      var setLangData = { 'language': '${language[0]}' };
      % if user.is_authenticated():
        prefUserLanguage(data, setLangData);
      % else:
        prefLanguage(data, setLangData);
      % endif
    });
  % endfor

  $(document).ready(function () {
    var sideBarLanguageSelector = $("#sideBarLanguageSelector .selected a").text();
    $("#sideBarSelectedLanguage").text(sideBarLanguageSelector);

    var navBarLanguageSelector = $("#navBarLanguageSelector .selected a").text();
    $("#navBarSelectedLanguage").text(navBarLanguageSelector);
  })
  
</script>
