{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                
                <br />
            </p>

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}This email was automatically sent from {{ site_name }} to {{ email_address }}{% endblocktrans %}
                <br />
            </p>
        </td>
    </tr>


  <tr>
        <td style="width: 100%; 
            max-width: 800px;
            background-color: #FFF;
            color: #000000;
            margin: auto;
            text-align: center;
            border: 1px solid #F3F3F3;">

            <img src="https://mylearningx.pearson.com/static/pearson-polsx-theme/images/PearsonLogo_Primary_Blk_RGB.png" style="width: 150px; padding: 5px;" />

            <div style="width: 90%; 
                        background-color: #D4EAE4;
                        text-align: left;
                        padding: 2% 5%;
                        background-image: url('https://mylearningx.pearson.com/static/pearson-polsx-theme/images/laptop_transparent-bg.png');
                        background-size: 50%;
                        background-position: right bottom;
                        background-repeat: no-repeat;">

                <h1 style="font-family:'Playfair Display', serif; font-weight: 700;">
                    {% blocktrans %}You have been invited to {{ course_name }}{% endblocktrans %}
                </h1>
                <p style="padding: 0px;
                          width: 50%;
                          min-width: 300px;">
                    {% blocktrans %}You have been invited to join {{ course_name }} at {{ site_name }} by a member of the course staff.{% endblocktrans %}
                    <br />
                </p>




        {% if is_shib_course %}
            {% if auto_enroll %}
                <p style="padding: 0px;
                          width: 50%;
                          min-width: 300px;">
                    {% blocktrans %}To access this course click on the button below and log in.{% endblocktrans %}
                    <br />
                </p>

                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_name course_cta_url=course_url %}
            {% elif course_about_url is not None %}
                <p style="padding: 0px;
                          width: 50%;
                          min-width: 300px;">
                    {% blocktrans %}To access this course visit it and register:{% endblocktrans %}
                    <br />
                </p>

                {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_name course_cta_url=course_about_url %}
            {% endif %}
        {% else %}
            <p style="padding: 0px;
                          width: 50%;
                          min-width: 300px;">
                {% blocktrans %}Please finish your registration and fill out the registration form, making sure to use {{ email_address }} in the Email field:{% endblocktrans %}
                <br />
            </p>

            {% trans "Finish Your Registration" as button_cta_text %}
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=button_cta_text course_cta_url=registration_url %}

            <p style="padding: 0px;
                        width: 50%;
                        min-width: 300px;">
                {% if auto_enroll %}
                    {% blocktrans %}Once you have registered and activated your account, you will see {{ course_name }} listed on your dashboard.{% endblocktrans %}
                {% elif course_about_url is not None %}
                    {% blocktrans %}Once you have registered and activated your account, you will be able to access this course:{% endblocktrans %}
                    {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_name course_cta_url=course_about_url %}
                {% else %}
                    {% blocktrans %}You can then enroll in {{ course_name }}.{% endblocktrans %}
                {% endif %}
                <br />
            </p>
        {% endif %}

            </div>
        </td>
    </tr>
 
    <tr>
        <td>
            <p style="font-family: 'Open Sans', sans-serif;
                color: #505759;
                text-align: left;
                padding: 2% 5%;
                margin: 0px;">
                {% blocktrans %}If you are receiving this email in error, please let us know at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.{% endblocktrans %}
                <br />
            </p>
        </td>
    <tr>
     </tr>
   


</table>
{% endblock %}
