.wrapper-footer footer#footer-openedx {

 a, .copyright,
 .colophon .nav-colophon li a {
    color: $inverse;
  }
}

.vue-footer {
  background-color: $vue-header-footer !important;
}

.apprenticeships-footer {
   background-color: $app-header-footer !important;
}

 .wrapper-footer footer#footer-openedx .colophon {
    float: none;
    margin: auto;
    min-height: 30px;
  }

.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
  margin: auto;
  float: none;
  width: 85%;
  margin-top: 20px;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx {
  margin: auto;
  width: 100%;
}

div.wrapper-footer footer#footer-openedx .footer-about-openedx a{
  padding-left:30px;
  float:left;
}

.wrapper-footer footer#footer-openedx .copyright {
  color: $inverse;
  width: 50%;
  text-align: right;
  float: left;
}

.wrapper-footer footer#footer-openedx .nav-legal {
    text-align: center;
    color: $inverse;
    float: none;
  }

.wrapper-footer {
  border-top: 1px solid $primary;
  background-color: $primary;
  color: $inverse;
}

.wrapper .wrapper-footer {
  border-top: 1px solid $primary;
  background-color: $primary;
  color: $inverse;
   text-align: center;
}

.container-fluid .wrapper-footer {
  border-top: 1px solid $primary;
  background-color: $primary;
  color: $inverse;
}

.wrapper-footer footer#footer-openedx ul {
 font-size: 1.2rem;
}

div.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover,
div.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus,
div.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:active {
  color: $inverse;
}

nav.nav-colophon {
    display: none;
}

div.wrapper-footer footer#footer-openedx {
  box-sizing: border-box;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  background-color: none;
  color: $inverse;
}

div.colophon nav.nav-legal ul {
  margin-left: 0;
}

.wrapper-footer footer#footer-openedx div.wrapper-logo {
  margin: 0;
}

div.wrapper-footer footer#footer-openedx
.footer-about-openedx a {
  margin-left: 8px;
}

@media (max-width: 991px) {
  div.wrapper-footer footer#footer-openedx {
    display: flex;
    flex-wrap: wrap;
  }

  .wrapper-footer footer#footer-openedx .colophon {
    color: $inverse;
  }

  .wrapper-footer footer#footer-openedx .copyright {
    //text-align: center;
    color: $inverse;
  }


  .wrapper-footer footer#footer-openedx .nav-legal {
    text-align: center;
    color: $inverse;
  }

  .wrapper-footer footer#footer-openedx .footer-about-openedx {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}


@media (max-width: 500px) {

  .wrapper-footer footer#footer-openedx .copyright {
    text-align: center;
    color: $inverse;
  }
}
