div.login-register-content {
  background: $background-color-form-login-register;
}

.login-register {
  background: $background-color-form-login-register;
}

form.login-form {
  button.action.action-primary.action-update.js-login.login-button {
    background: $primary;
    color: $inverse;
  }

  button.action.action-primary.action-update.js-register.register-button {
    background: $primary;
    color: $inverse;
  }
}

.login-register .form-field select {
  background: $inverse;
}


button.action.action-primary.action-update.js-reset {
  background: $primary;
}


.login-register .status .message-copy {
  p, p a, li {
    color: $secondary;
  }
}


div.login-register div.toggle-form a.form-toggle {
  color: $primary;
}

#login-form .toggle-form,
#login-form .form-field,
#login-form .login-button,
#login-form .login-providers .section-title,
#register-form .toggle-form,
#register-form .required-fields,
#register-form .form-field,
#register-form .register-button,
#register-form .section-title {display: none;}

#register-form .login-providers .section-title {display: block;}

#login-form h2{text-align: center;}
