div.login-register-content {
  background: $background-color-form-login-register;
}

.login-register {
  background: $background-color-form-login-register;
}

form.login-form {
  button.action.action-primary.action-update.js-login.login-button {
    background: $primary;
    color: $inverse;
  }

  button.action.action-primary.action-update.js-register.register-button {
    background: $primary;
    color: $inverse;
  }
}

.login-register .form-field select {
  background: $inverse;
}


button.action.action-primary.action-update.js-reset {
  background: $primary;
}


.login-register .status .message-copy {
  p, p a, li {
    color: $secondary;
  }
}


div.login-register div.toggle-form a.form-toggle {
  color: $primary;
}

a.sign-in-btn {
  color: $inverse;
}